Repository fluxcd/flux2, pull requests merged in 2020-10, with the labels that each got.

#250 Update docs for git notifiers
  docs/diagrams/gitlab-commit-status.png
  docs/guides/notifications.md
Labels: area/docs

#283 Roadmap v0.1 update
  .github/workflows/docs.yaml
  docs/roadmap/index.md
Labels: area/docs

#284 Remove creationTimestamp leading spaces
  .github/workflows/bootstrap.yaml
  .github/workflows/e2e.yaml
  cmd/gotk/export.go
Labels: bug

#285 Change the bootstrap default branch to main
  cmd/gotk/bootstrap.go
  cmd/gotk/reconcile_helmrelease.go
  cmd/gotk/reconcile_kustomization.go
  docs/cmd/gotk_bootstrap.md
  docs/cmd/gotk_bootstrap_github.md
  docs/cmd/gotk_bootstrap_gitlab.md
  docs/get-started/index.md
  docs/guides/installation.md
Labels: area/bootstrap

#287 Update Go to v1.15
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  go.mod
Labels: area/build

#289 Fix Kusomization depends-on mapping
  cmd/gotk/create_kustomization.go
Labels: area/kustomization, bug

#290 Remove faulty `break` from get commands
  cmd/gotk/get_helmrelease.go
  cmd/gotk/get_kustomization.go
  cmd/gotk/get_source_bucket.go
  cmd/gotk/get_source_git.go
  cmd/gotk/get_source_helm.go
Labels: bug

#297 Add option to disable the network policy at install time
  cmd/gotk/bootstrap.go
  cmd/gotk/install.go
  docs/cmd/gotk_bootstrap.md
  docs/cmd/gotk_bootstrap_github.md
  docs/cmd/gotk_bootstrap_gitlab.md
  docs/cmd/gotk_install.md
Labels: area/bootstrap, area/install

#301 Support multi-path KUBECONFIG
  cmd/gotk/utils.go
Labels: bug

#299 Switch get commands to use tables for output
  .github/workflows/e2e.yaml
  cmd/gotk/get.go
  cmd/gotk/get_helmrelease.go
  cmd/gotk/get_kustomization.go
  cmd/gotk/get_source_bucket.go
  cmd/gotk/get_source_git.go
  cmd/gotk/get_source_helm.go
  cmd/gotk/utils.go
  docs/cmd/gotk_get.md
  docs/cmd/gotk_get_helmreleases.md
  docs/cmd/gotk_get_kustomizations.md
  docs/cmd/gotk_get_sources.md
  docs/cmd/gotk_get_sources_bucket.md
  docs/cmd/gotk_get_sources_git.md
  docs/cmd/gotk_get_sources_helm.md
  go.mod
  go.sum
Labels: area/UX, enhancement

#307 Display proper revision for sources
  cmd/gotk/get_source_bucket.go
  cmd/gotk/get_source_git.go
  cmd/gotk/get_source_helm.go
Labels: bug

#305 Update guide to include column output commands
  README.md
  docs/get-started/index.md
Labels: area/docs

#310 Use GitHub actions from fluxcd/pkg@main
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  README.md
  cmd/gotk/check.go
  go.mod
  go.sum
Labels: area/build

#313 close parentheses, make link to guide more obvious
  docs/index.md
Labels: area/docs

#315 Update api versions in guides
  docs/guides/helmreleases.md
  docs/guides/mozilla-sops.md
  docs/guides/notifications.md
  docs/guides/webhook-receivers.md
Labels: area/docs, bug

#318 Introduce install package
  cmd/gotk/bootstrap.go
  cmd/gotk/install.go
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/install/manifests.go
  pkg/install/options.go
  pkg/install/templates.go
Labels: area/bootstrap, area/install

#317 Add featured talks and meetups section
  README.md
Labels: area/docs

#332 Uninstall improvements
  cmd/gotk/uninstall.go
Labels: area/install, enhancement

#327 Add ARM instruction to get started guide
  docs/get-started/index.md
Labels: area/docs, hacktoberfest-accepted

#333 Update docs website
  .github/workflows/docs.yaml
  README.md
  docs/_files/github-commit-status.png
  docs/_files/gitlab-commit-status.png
  docs/_files/helm-controller-alerts.png
  docs/_files/kustomize-controller.png
  docs/_files/slack-error-alert.png
  docs/_files/slack-info-alert.png
  docs/_files/source-controller.png
  docs/diagrams/gitops-toolkit.png
  docs/diagrams/gotk-overview.png
  docs/guides/helmreleases.md
  docs/guides/notifications.md
  docs/index.md
  mkdocs.yml
Labels: area/docs

#337 Add cluster stats dashboard to monitoring stack
  docs/_files/cluster-dashboard.png
  docs/guides/installation.md
  manifests/monitoring/grafana/dashboards/cluster.json
  manifests/monitoring/grafana/kustomization.yaml
Labels: area/docs, area/monitoring

#341 Mark the design tasks for image automation as done
  docs/roadmap/index.md
Labels: area/docs

#343 Set alert provider secretRef only if specified
  cmd/gotk/create_alertprovider.go
Labels: area/notification

#347 Add rebase action
  .github/workflows/rebase.yml
Labels: area/build

#334 Get rid of shell-out and invoke command directly via exec
  cmd/gotk/bootstrap.go
  cmd/gotk/check.go
  cmd/gotk/install.go
  cmd/gotk/uninstall.go
  cmd/gotk/utils.go
Labels: enhancement, hacktoberfest-accepted

#340 Enable client side validation on bootstrap
  cmd/gotk/bootstrap.go
Labels: area/bootstrap

#349 Publish CLI binary for Windows
  .goreleaser.yml
Labels: area/build

#352 Refactor create, reconcile and resume commands
  cmd/gotk/bootstrap.go
  cmd/gotk/create_alert.go
  cmd/gotk/create_alertprovider.go
  cmd/gotk/create_helmrelease.go
  cmd/gotk/create_kustomization.go
  cmd/gotk/create_receiver.go
  cmd/gotk/create_source_bucket.go
  cmd/gotk/create_source_git.go
  cmd/gotk/create_source_helm.go
  cmd/gotk/reconcile_alert.go
  cmd/gotk/reconcile_alertprovider.go
  cmd/gotk/reconcile_helmrelease.go
  cmd/gotk/reconcile_kustomization.go
  cmd/gotk/reconcile_receiver.go
  cmd/gotk/reconcile_source_bucket.go
  cmd/gotk/reconcile_source_git.go
  cmd/gotk/reconcile_source_helm.go
  cmd/gotk/resume_alert.go
  cmd/gotk/resume_helmrelease.go
  cmd/gotk/resume_kustomization.go
  cmd/gotk/resume_receiver.go
  docs/cmd/gotk_create_helmrelease.md
  docs/cmd/gotk_reconcile_kustomization.md
Labels: area/UX, enhancement

#353 Remove documentation version hotfix
  .github/workflows/docs.yaml
  .github/workflows/update.yml
Labels: area/build

#351 Add GitLab HTTPS auth to bootstrap options
  cmd/gotk/bootstrap_gitlab.go
  docs/cmd/gotk_bootstrap_gitlab.md
  docs/guides/installation.md
Labels: area/bootstrap, area/git

#354 Add Windows OS to CLI install docs
  README.md
  docs/components/helm/controller.md
  docs/components/kustomize/controller.md
  docs/components/notification/controller.md
  docs/components/source/controller.md
  docs/get-started/index.md
  docs/guides/installation.md
Labels: area/docs

#350 Add secret-ref flag to create source git
  cmd/gotk/create_source_bucket.go
  cmd/gotk/create_source_git.go
  cmd/gotk/create_source_helm.go
  docs/cmd/gotk_create_source_bucket.md
  docs/cmd/gotk_create_source_git.md
  docs/cmd/gotk_create_source_helm.md
Labels: area/source, enhancement, hacktoberfest-accepted

#361 Ignore missing kinds when uninstalling
  cmd/gotk/uninstall.go
Labels: area/install

#369 Add monitoring guide
  docs/guides/installation.md
  docs/guides/monitoring.md
  mkdocs.yml
Labels: area/docs, area/monitoring

#384 Update the stable Helm repository in docs
  docs/guides/installation.md
  docs/guides/sealed-secrets.md
Labels: area/docs

#387 Refactor manifests generation
  cmd/gotk/bootstrap.go
  cmd/gotk/check.go
  cmd/gotk/install.go
  cmd/gotk/main.go
  pkg/manifestgen/doc.go
  pkg/manifestgen/install/install.go
  pkg/manifestgen/install/install_test.go
  pkg/manifestgen/install/manifests.go
  pkg/manifestgen/install/options.go
  pkg/manifestgen/install/templates.go
  pkg/manifestgen/manifest.go
  pkg/manifestgen/sync/options.go
  pkg/manifestgen/sync/sync.go
  pkg/manifestgen/sync/sync_test.go
  pkg/sync/options.go
Labels: area/bootstrap, area/install, enhancement

#385 Minimal rewrite of README to explain Flux v2
  README.md
Labels: area/docs

#389 Update HelmRelease documentation
  docs/faq/index.md
  docs/guides/helmreleases.md
Labels: area/docs

#396 Delete generated docs before regenerating them
  Makefile
Labels: area/build

#397 Add GOTK section to index
  README.md
  docs/index.md
Labels: area/docs

#365 Community section: add link to GH Discussions
  docs/index.md
Labels: area/docs

#400 Fix install script
  README.md
  install/README.md
  install/flux.sh
Labels: area/docs, area/install

#401 Add migration guide for Flux v1 users
  docs/guides/flux-v1-migration.md
  docs/roadmap/index.md
  mkdocs.yml
Labels: area/docs

#402 Update talks section
  README.md
  docs/index.md
Labels: area/docs

#403 Update bootstrap docs to match v0.2
  docs/get-started/index.md
  docs/guides/installation.md
Labels: area/docs
