Repository fluxcd/flux2, pull requests merged in 2020-08, with the labels that each got.

#144 Add installation guide
  docs/guides/helmreleases.md
  docs/guides/installation.md
  docs/guides/notifications.md
  docs/guides/sealed-secrets.md
  docs/guides/webhook-receivers.md
  mkdocs.yml
Labels: area/docs

#145 Update contributors guide
  CONTRIBUTING.md
Labels: area/docs

#148 Add monitoring stack and dashboards
  docs/_files/cp-dashboard-p1.png
  docs/_files/cp-dashboard-p2.png
  docs/guides/installation.md
  manifests/monitoring/grafana/dashboards/control-plane.json
  manifests/monitoring/grafana/datasources.yaml
  manifests/monitoring/grafana/deployment.yaml
  manifests/monitoring/grafana/kustomization.yaml
  manifests/monitoring/grafana/providers.yaml
  manifests/monitoring/grafana/service.yaml
  manifests/monitoring/kustomization.yaml
  manifests/monitoring/prometheus/account.yaml
  manifests/monitoring/prometheus/deployment.yaml
  manifests/monitoring/prometheus/kustomization.yaml
  manifests/monitoring/prometheus/prometheus.yml
  manifests/monitoring/prometheus/rbac.yaml
  manifests/monitoring/prometheus/service.yaml
Labels: area/UX, area/monitoring

#149 Add initial set of FAQ
  docs/faq/index.md
  mkdocs.yml
Labels: area/docs

#157 Update controllers for Helm v3.3.0
  .github/workflows/docs.yaml
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
Labels: area/bootstrap, area/install

#166 Update helm-controller to v0.0.4
  .github/workflows/docs.yaml
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
Labels: area/helm

#167 Document targetPath in Helm Releases guide
  docs/guides/helmreleases.md
Labels: area/docs, area/helm

#168 Update helm-controller roadmap
  docs/roadmap/index.md
Labels: area/docs, area/helm

#163 Add checksum verification to install script #24
  install/tk.sh
Labels: area/install, enhancement

#182 build: detect component versions
  .github/workflows/docs.yaml
  .github/workflows/update.yml
Labels: area/build
