Repository fluxcd/flux2, pull requests merged in 2020-07, with the labels that each got.

#73 Add notification component
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  cmd/tk/main.go
  docs/cmd/tk.md
  docs/cmd/tk_bootstrap.md
  docs/cmd/tk_bootstrap_github.md
  docs/cmd/tk_bootstrap_gitlab.md
  docs/cmd/tk_check.md
  docs/cmd/tk_completion.md
  docs/cmd/tk_create.md
  docs/cmd/tk_create_kustomization.md
  docs/cmd/tk_create_source.md
  docs/cmd/tk_create_source_git.md
  docs/cmd/tk_delete.md
  docs/cmd/tk_delete_kustomization.md
  docs/cmd/tk_delete_source.md
  docs/cmd/tk_delete_source_git.md
  docs/cmd/tk_export.md
  docs/cmd/tk_export_kustomization.md
  docs/cmd/tk_export_source.md
  docs/cmd/tk_export_source_git.md
  docs/cmd/tk_get.md
  docs/cmd/tk_get_kustomizations.md
  docs/cmd/tk_get_sources.md
  docs/cmd/tk_get_sources_git.md
  docs/cmd/tk_install.md
  docs/cmd/tk_resume.md
  docs/cmd/tk_resume_kustomization.md
  docs/cmd/tk_suspend.md
  docs/cmd/tk_suspend_kustomization.md
  docs/cmd/tk_sync.md
  docs/cmd/tk_sync_kustomization.md
  docs/cmd/tk_sync_source.md
  docs/cmd/tk_sync_source_git.md
  docs/cmd/tk_uninstall.md
  docs/components/kustomize/controller.md
  docs/components/notification/controller.md
  docs/index.md
  docs/roadmap/index.md
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/kustomize-controller/patch.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/install/kustomization.yaml
  manifests/rbac/role.yaml
  mkdocs.yml
Labels: area/bootstrap, area/docs, area/install, area/kustomization

#74 Add notifications guide
  docs/diagrams/slack-error-alert.png
  docs/diagrams/slack-info-alert.png
  docs/get-started/index.md
  docs/guides/notifications.md
  mkdocs.yml
Labels: area/docs

#76 Enable notifications for source events
  docs/guides/notifications.md
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
  manifests/bases/source-controller/patch.yaml
Labels: area/bootstrap, area/docs, area/install

#77 explain a bit more about Flux Toolkit
  CONTRIBUTING.md
  docs/contributing/index.md
  mkdocs.yml
Labels: area/docs

#79 Update notification controller to v0.0.1
  .github/workflows/docs.yaml
  docs/_files/notification-controller.png
  docs/components/notification/controller.md
  docs/guides/notifications.md
  docs/index.md
  docs/roadmap/index.md
  go.mod
  go.sum
  manifests/bases/notification-controller/kustomization.yaml
  mkdocs.yml
Labels: area/bootstrap, area/docs, area/install

#80 Add webhook receivers guide to docs
  docs/guides/webhook-receivers.md
  mkdocs.yml
Labels: area/docs

#81 Add source watcher dev guide
  CONTRIBUTING.md
  README.md
  docs/dev-guides/source-watcher.md
  mkdocs.yml
Labels: area/docs

#82 Add helm-controller installer and docs
  .github/workflows/docs.yaml
  cmd/tk/main.go
  docs/_files/helm-controller.png
  docs/cmd/tk.md
  docs/cmd/tk_bootstrap.md
  docs/cmd/tk_bootstrap_github.md
  docs/cmd/tk_bootstrap_gitlab.md
  docs/cmd/tk_check.md
  docs/cmd/tk_completion.md
  docs/cmd/tk_create.md
  docs/cmd/tk_create_kustomization.md
  docs/cmd/tk_create_source.md
  docs/cmd/tk_create_source_git.md
  docs/cmd/tk_delete.md
  docs/cmd/tk_delete_kustomization.md
  docs/cmd/tk_delete_source.md
  docs/cmd/tk_delete_source_git.md
  docs/cmd/tk_export.md
  docs/cmd/tk_export_kustomization.md
  docs/cmd/tk_export_source.md
  docs/cmd/tk_export_source_git.md
  docs/cmd/tk_get.md
  docs/cmd/tk_get_kustomizations.md
  docs/cmd/tk_get_sources.md
  docs/cmd/tk_get_sources_git.md
  docs/cmd/tk_install.md
  docs/cmd/tk_resume.md
  docs/cmd/tk_resume_kustomization.md
  docs/cmd/tk_suspend.md
  docs/cmd/tk_suspend_kustomization.md
  docs/cmd/tk_sync.md
  docs/cmd/tk_sync_kustomization.md
  docs/cmd/tk_sync_source.md
  docs/cmd/tk_sync_source_git.md
  docs/cmd/tk_uninstall.md
  docs/components/helm/controller.md
  docs/index.md
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/helm-controller/patch.yaml
  manifests/install/kustomization.yaml
  manifests/rbac/role.yaml
  mkdocs.yml
Labels: area/bootstrap, area/docs, area/install

#83 build: use correct v2alpha1 HelmRelease spec URL
  .github/workflows/docs.yaml
Labels: area/build, area/docs

#84 Refactor install defaults
  cmd/tk/bootstrap.go
  cmd/tk/bootstrap_github.go
  cmd/tk/bootstrap_gitlab.go
  cmd/tk/check.go
  cmd/tk/install.go
  cmd/tk/main.go
  docs/cmd/tk.md
  docs/cmd/tk_bootstrap.md
  docs/cmd/tk_bootstrap_github.md
  docs/cmd/tk_bootstrap_gitlab.md
  docs/cmd/tk_check.md
  docs/cmd/tk_completion.md
  docs/cmd/tk_create.md
  docs/cmd/tk_create_kustomization.md
  docs/cmd/tk_create_source.md
  docs/cmd/tk_create_source_git.md
  docs/cmd/tk_delete.md
  docs/cmd/tk_delete_kustomization.md
  docs/cmd/tk_delete_source.md
  docs/cmd/tk_delete_source_git.md
  docs/cmd/tk_export.md
  docs/cmd/tk_export_kustomization.md
  docs/cmd/tk_export_source.md
  docs/cmd/tk_export_source_git.md
  docs/cmd/tk_get.md
  docs/cmd/tk_get_kustomizations.md
  docs/cmd/tk_get_sources.md
  docs/cmd/tk_get_sources_git.md
  docs/cmd/tk_install.md
  docs/cmd/tk_resume.md
  docs/cmd/tk_resume_kustomization.md
  docs/cmd/tk_suspend.md
  docs/cmd/tk_suspend_kustomization.md
  docs/cmd/tk_sync.md
  docs/cmd/tk_sync_kustomization.md
  docs/cmd/tk_sync_source.md
  docs/cmd/tk_sync_source_git.md
  docs/cmd/tk_uninstall.md
Labels: area/bootstrap, area/install

#85 Rename sync cmd to reconcile
  .github/workflows/e2e.yaml
  cmd/tk/main.go
  cmd/tk/reconcile.go
  cmd/tk/reconcile_kustomization.go
  cmd/tk/reconcile_source.go
  cmd/tk/reconcile_source_git.go
  docs/cmd/tk.md
  docs/cmd/tk_reconcile.md
  docs/cmd/tk_reconcile_kustomization.md
  docs/cmd/tk_reconcile_source.md
  docs/cmd/tk_reconcile_source_git.md
  docs/get-started/index.md
  go.mod
  go.sum
  mkdocs.yml
Labels: area/docs, area/kustomization, area/source

#91 Update notification-controller to v0.0.3
  manifests/bases/notification-controller/kustomization.yaml
Labels: area/bootstrap, area/install

#92 Add "Manging Helm releases" guide to menu
  mkdocs.yml
Labels: area/docs

#96 Update controllers and go modules
  cmd/tk/bootstrap.go
  cmd/tk/create_kustomization.go
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
Labels: area/bootstrap, area/install

#95 Document helm-controller notifications in guide
  docs/diagrams/helm-controller-alerts.png
  docs/guides/helmreleases.md
  mkdocs.yml
Labels: area/docs, area/helm

#97 Add webhook receivers section to Helm guide
  docs/guides/helmreleases.md
  mkdocs.yml
Labels: area/docs, area/helm

#99 Add export option to tk install
  cmd/tk/install.go
  docs/cmd/tk_install.md
Labels: area/install, enhancement

#104 Update "Helm Operator v2" roadmap
  docs/roadmap/index.md
Labels: area/docs, area/helm

#105 Use semver manifests as kustomize base
  cmd/tk/bootstrap.go
  cmd/tk/install.go
  cmd/tk/main.go
  cmd/tk/utils.go
  docs/cmd/tk_bootstrap.md
  docs/cmd/tk_bootstrap_github.md
  docs/cmd/tk_bootstrap_gitlab.md
  docs/cmd/tk_install.md
Labels: area/bootstrap, area/install, enhancement

#106 Make nested list work correctly in roadmap
  docs/roadmap/index.md
Labels: area/docs, area/helm

#113 Drop support for Kubernetes <1.16
  .github/workflows/e2e.yaml
  cmd/tk/check.go
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
Labels: area/bootstrap, area/install, enhancement

#114 Rename kustomization arg from validate to validation
  .github/workflows/e2e.yaml
  cmd/tk/create_kustomization.go
  cmd/tk/main.go
  docs/cmd/tk.md
  docs/cmd/tk_create_kustomization.md
  docs/get-started/index.md
Labels: area/UX, area/kustomization

#118 Implement create/delete for Helm releases
  .github/workflows/e2e.yaml
  cmd/tk/create_helmrelease.go
  cmd/tk/delete_helmrelease.go
  cmd/tk/utils.go
  docs/cmd/tk_create.md
  docs/cmd/tk_create_helmrelease.md
  docs/cmd/tk_delete.md
  docs/cmd/tk_delete_helmrelease.md
  go.mod
  mkdocs.yml
Labels: area/helm, enhancement

#121 Update helm-controller to v0.0.1-beta.3
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
Labels: area/bootstrap, area/helm, area/install

#123 Make notification component optional
  cmd/tk/install.go
  cmd/tk/main.go
  cmd/tk/utils.go
Labels: area/UX, area/bootstrap, area/install

#120 Add sealed secrets guide
  docs/guides/sealed-secrets.md
  mkdocs.yml
Labels: area/docs

#126 Delete custom resources during uninstall
  cmd/tk/uninstall.go
  docs/cmd/tk_uninstall.md
Labels: area/install, enhancement

#127 Add linux/amd64 node selector to controllers
  cmd/tk/install.go
Labels: area/bootstrap, area/install, enhancement

#128 Add container registry and image pull secret as install options
  cmd/tk/bootstrap.go
  cmd/tk/install.go
  docs/cmd/tk_bootstrap.md
  docs/cmd/tk_bootstrap_github.md
  docs/cmd/tk_bootstrap_gitlab.md
  docs/cmd/tk_install.md
Labels: area/UX, area/bootstrap, area/install, enhancement

#138 Update components
  .github/workflows/docs.yaml
  docs/dev-guides/source-watcher.md
  docs/guides/helmreleases.md
  docs/guides/notifications.md
  docs/guides/sealed-secrets.md
  docs/guides/webhook-receivers.md
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
  manifests/rbac/role.yaml
Labels: area/build, area/docs, area/git, area/helm, area/kustomization, area/source, enhancement

#139 docs/helm: guide on values from resources
  docs/guides/helmreleases.md
Labels: area/docs, area/helm

#140 Mark metrics as completed in roadmap
  docs/roadmap/index.md
Labels: area/docs

#141 Support providing TLS certs for helm source
  cmd/tk/create_source_helm.go
  docs/cmd/tk_create_source_helm.md
Labels: area/UX, area/helm, area/source, enhancement
