Repository fluxcd/flux2, pull requests merged in 2020-12, with the labels that each got.

#534 Specify where to place Kubernetes manifests after bootstrap
  docs/guides/installation.md
Labels: area/docs

#535 Automate Flux upgrades with GitHub Actions
  action/README.md
  docs/guides/installation.md
Labels: area/docs

#522 Add link to video review from Viktor Farcic
  README.md
  docs/index.md
Labels: area/docs

#546 Add labels to generated secrets
  cmd/flux/create_source_bucket.go
  cmd/flux/create_source_git.go
  cmd/flux/create_source_helm.go
Labels: area/source, enhancement

#532 Automated AUR publishing
  .github/aur/flux-bin/.SRCINFO.template
  .github/aur/flux-bin/.gitignore
  .github/aur/flux-bin/PKGBUILD.template
  .github/aur/flux-bin/publish.sh
  .github/aur/flux-go/.SRCINFO.template
  .github/aur/flux-go/.gitignore
  .github/aur/flux-go/PKGBUILD.template
  .github/aur/flux-go/publish.sh
  .github/aur/flux-scm/.SRCINFO.template
  .github/aur/flux-scm/.gitignore
  .github/aur/flux-scm/PKGBUILD.template
  .github/aur/flux-scm/publish.sh
  .goreleaser.yml
  README.md
  docs/get-started/index.md
Labels: area/build, enhancement

#548 Fix list parsing issue in the docs
  README.md
  docs/get-started/index.md
Labels: area/docs

#547 Add create secret git command
  cmd/flux/create_secret.go
  cmd/flux/create_secret_git.go
  docs/cmd/flux_create.md
  docs/cmd/flux_create_secret.md
  docs/cmd/flux_create_secret_git.md
  mkdocs.yml
Labels: area/UX, area/git, enhancement

#549 Add AUR_BOT_SSH_PRIVATE_KEY env var for goreleaser
  .github/workflows/release.yaml
Labels: area/build

#550 Publish install manifest to GitHub releases
  .github/workflows/release.yaml
  .goreleaser.yml
  docs/guides/installation.md
Labels: area/build

#556 Use mock archive for aur publishers
  .goreleaser.yml
Labels: area/build

#557 Properly clean-up package build dirs
  .github/aur/flux-bin/publish.sh
  .github/aur/flux-go/publish.sh
  .github/aur/flux-scm/publish.sh
Labels: area/build

#559 Prevent AUR package publishing parallel execution
  .github/aur/flux-bin/publish.sh
  .github/aur/flux-go/publish.sh
  .github/aur/flux-scm/publish.sh
  .goreleaser.yml
Labels: area/build

#567 Add Kustomize FAQ to docs
  docs/faq/index.md
Labels: area/docs, area/kustomization

#577 Update fluxcd/pkg/git to v0.1.0
  go.mod
  go.sum
Labels: area/bootstrap

#578 Use relative filepaths in generated kustomization and during build
  internal/utils/utils.go
  pkg/manifestgen/install/manifests.go
Labels: area/bootstrap, area/install, bug

#581 Log to stderr
  cmd/flux/create_source_git.go
  cmd/flux/log.go
  cmd/flux/main.go
Labels: area/UX

#566 Add git implementation flag and note about Azure DevOps
  cmd/flux/create_source_git.go
  docs/cmd/flux_create_source_git.md
  docs/guides/installation.md
  go.sum
Labels: area/docs, area/git

#584 Rearrange Azure DevOps docs
  docs/guides/installation.md
Labels: area/docs

#586 Update kustomize/api to v0.7.0
  go.mod
  go.sum
  pkg/manifestgen/install/manifests.go
Labels: area/build

#580 Include image controller config in `flux install`
  .github/workflows/update.yml
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/install.go
  docs/cmd/flux_bootstrap.md
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  docs/cmd/flux_install.md
  manifests/bases/image-automation-controller/kustomization.yaml
  manifests/bases/image-automation-controller/patch.yaml
  manifests/bases/image-reflector-controller/kustomization.yaml
  manifests/bases/image-reflector-controller/patch.yaml
  manifests/install/kustomization.yaml
Labels: area/bootstrap, area/install, enhancement

#595 Add cluster-domain option for bootstrap command
  cmd/flux/bootstrap.go
  cmd/flux/install.go
  docs/cmd/flux_bootstrap.md
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  docs/cmd/flux_install.md
  pkg/manifestgen/install/options.go
  pkg/manifestgen/install/templates.go
Labels: area/bootstrap, area/install

#599 Add image automation guide
  docs/guides/image-update.md
  docs/guides/installation.md
  mkdocs.yml
Labels: area/docs, area/image-automation

#602 Add safe guards for relative paths
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/create_kustomization.go
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  docs/cmd/flux_create_kustomization.md
  go.mod
  go.sum
  internal/flags/safe_relative_path.go
  internal/flags/safe_relative_path_test.go
  pkg/manifestgen/install/install.go
  pkg/manifestgen/manifest.go
Labels: area/bootstrap, area/install, area/kustomization, bug, enhancement

#603 Fix Azure DevOps SSH URL in docs
  docs/guides/installation.md
  mkdocs.yml
Labels: area/bootstrap, area/docs

#604 Add tests for CLI flags
  docs/cmd/flux_create_helmrelease.md
  docs/cmd/flux_create_kustomization.md
  internal/flags/arch_test.go
  internal/flags/decryption_provider.go
  internal/flags/decryption_provider_test.go
  internal/flags/ecdsa_curve.go
  internal/flags/ecdsa_curve_test.go
  internal/flags/helm_chart_source.go
  internal/flags/helm_chart_source_test.go
  internal/flags/helm_release_values.go
  internal/flags/helm_release_values_test.go
  internal/flags/kustomization_source.go
  internal/flags/kustomization_source_test.go
  internal/flags/log_level_test.go
  internal/flags/public_key_algorithm_test.go
  internal/flags/rsa_key_bits.go
  internal/flags/rsa_key_bits_test.go
  internal/flags/source_bucket_provider.go
  internal/flags/source_bucket_provider_test.go
  internal/utils/utils.go
Labels: area/UX, area/build, enhancement

#605 Make resource selector args case insensitive
  internal/flags/helm_chart_source.go
  internal/flags/helm_chart_source_test.go
  internal/flags/helm_release_values.go
  internal/flags/helm_release_values_test.go
  internal/flags/kustomization_source.go
  internal/flags/kustomization_source_test.go
  internal/utils/utils.go
Labels: area/UX

#607 Add branch to image automation docs
  docs/guides/image-update.md
Labels: area/docs

#612 Fix zsh completion command example
  cmd/flux/completion_zsh.go
  docs/cmd/flux_completion_zsh.md
Labels: area/docs

#615 Add note about ignoring flux action binary
  action/README.md
Labels: area/docs

#616 Move flux binary to GitHub workspace
  action/entrypoint.sh
Labels: bug

#618 Add e2e test for flux2-kustomize-helm-example
  .github/workflows/e2e.yaml
Labels: area/build, enhancement

#619 Add note about deploy key linked to pat
  docs/guides/installation.md
Labels: area/bootstrap, area/docs

#617 Support check command with multiple config files
  cmd/flux/check.go
  internal/utils/utils.go
Labels: bug

#623 Set e2e uninstall timeout to 10m
  .github/workflows/bootstrap.yaml
  .github/workflows/e2e.yaml
Labels: area/build

#622 Fix gitignore typo in docs
  action/README.md
Labels: area/docs

#627 docs: add note about `TargetPath` and JSON values
  docs/guides/helmreleases.md
Labels: area/docs
