Repository fluxcd/flux2, pull requests merged in 2020-09, with the labels that each got.

#185 Fix: change v1.JSON for HelmRelease to pointer
  cmd/tk/create_helmrelease.go
  cmd/tk/reconcile_helmrelease.go
Labels: area/helm, bug

#197 Support GitRepository sources in HelmReleases
  .github/workflows/e2e.yaml
  cmd/gotk/create_helmrelease.go
  cmd/gotk/reconcile_helmrelease.go
  docs/cmd/gotk_create_helmrelease.md
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
Labels: area/build, area/helm, area/source

#196 HelmRelease guide changes
  docs/components/helm/controller.md
  docs/faq/index.md
  docs/guides/helmreleases.md
  docs/guides/sealed-secrets.md
Labels: area/docs

#198 Upgrade notification-controller to v0.0.8
  manifests/bases/notification-controller/kustomization.yaml
Labels: area/bootstrap, area/monitoring

#191 Add documentation for github commit status
  docs/diagrams/github-commit-status.png
  docs/guides/notifications.md
Labels: area/docs, area/monitoring

#199 Document GitRepository source in HelmRelease guide
  docs/guides/helmreleases.md
Labels: area/docs, area/git, area/helm

#200 Docs: fix gotk create helmrelease examples
  docs/guides/installation.md
  docs/guides/sealed-secrets.md
Labels: area/docs, area/helm

#201 Update `gotk create helmrelease` examples
  cmd/gotk/create_helmrelease.go
  docs/cmd/gotk_create_helmrelease.md
Labels: area/docs, area/helm

#202 Add ARM64 support to install/bootstrap
  .goreleaser.yml
  cmd/gotk/bootstrap.go
  cmd/gotk/bootstrap_github.go
  cmd/gotk/bootstrap_gitlab.go
  cmd/gotk/install.go
  cmd/gotk/main.go
  docs/cmd/gotk_bootstrap.md
  docs/cmd/gotk_bootstrap_github.md
  docs/cmd/gotk_bootstrap_gitlab.md
  docs/cmd/gotk_install.md
  docs/get-started/index.md
  docs/guides/installation.md
  go.mod
  go.sum
  install/gotk.sh
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
Labels: area/bootstrap, area/install

#204 Use GitHub Container Registry for AMD64/ARM64 images
  cmd/gotk/bootstrap.go
  cmd/gotk/install.go
  docs/cmd/gotk_bootstrap.md
  docs/cmd/gotk_bootstrap_github.md
  docs/cmd/gotk_bootstrap_gitlab.md
  docs/cmd/gotk_install.md
  docs/guides/installation.md
Labels: area/bootstrap, area/install

#207 Update kustomize-controller to v0.0.10
  go.mod
  go.sum
  manifests/bases/kustomize-controller/kustomization.yaml
Labels: area/build

#209 Mozilla SOPS
  cmd/gotk/create_kustomization.go
  cmd/gotk/main.go
  docs/cmd/gotk_create_kustomization.md
  docs/guides/mozilla-sops.md
  mkdocs.yml
Labels: area/docs, area/kustomization, enhancement

#211 Publish Homebrew formula
  .github/workflows/release.yaml
  .goreleaser.yml
  docs/get-started/index.md
  docs/guides/installation.md
Labels: area/UX, area/build

#216 Add label arg to create commands
  cmd/gotk/create.go
  cmd/gotk/create_helmrelease.go
  cmd/gotk/create_kustomization.go
  cmd/gotk/create_source_git.go
  cmd/gotk/create_source_helm.go
  cmd/gotk/export_helmrelease.go
  cmd/gotk/export_kustomization.go
  cmd/gotk/export_source_git.go
  cmd/gotk/export_source_helm.go
  docs/cmd/gotk_create.md
  docs/cmd/gotk_create_helmrelease.md
  docs/cmd/gotk_create_kustomization.md
  docs/cmd/gotk_create_source.md
  docs/cmd/gotk_create_source_git.md
  docs/cmd/gotk_create_source_helm.md
Labels: area/UX, area/kustomization, area/source, enhancement

#218 Add GitHub bootstrap e2e test
  .github/workflows/bootstrap.yaml
  cmd/gotk/bootstrap_github.go
  cmd/gotk/create.go
  go.mod
  go.sum
Labels: area/build

#219 Add branch flag to bootstrap cmd
  .github/workflows/bootstrap.yaml
  cmd/gotk/bootstrap.go
  cmd/gotk/bootstrap_github.go
  cmd/gotk/bootstrap_gitlab.go
  docs/cmd/gotk_bootstrap.md
  docs/cmd/gotk_bootstrap_github.md
  docs/cmd/gotk_bootstrap_gitlab.md
  docs/guides/installation.md
Labels: area/bootstrap, enhancement

#222 Add PATCH rule to crd-controller role for events
  manifests/rbac/role.yaml
Labels: bug

#226 Use fluxcdbot token in CI
  .github/workflows/update.yml
Labels: area/build

#227 Add watch all namespaces flag
  cmd/gotk/bootstrap.go
  cmd/gotk/install.go
  docs/cmd/gotk_bootstrap.md
  docs/cmd/gotk_bootstrap_github.md
  docs/cmd/gotk_bootstrap_gitlab.md
  docs/cmd/gotk_install.md
Labels: area/bootstrap, area/install

#229 Add log level flag
  cmd/gotk/bootstrap.go
  cmd/gotk/bootstrap_github.go
  cmd/gotk/bootstrap_gitlab.go
  cmd/gotk/install.go
  cmd/gotk/main.go
  docs/cmd/gotk_bootstrap.md
  docs/cmd/gotk_bootstrap_github.md
  docs/cmd/gotk_bootstrap_gitlab.md
  docs/cmd/gotk_install.md
Labels: area/bootstrap, area/install, enhancement

#231 Update kustomize-controller to v0.0.12
  cmd/gotk/bootstrap.go
  cmd/gotk/create_kustomization.go
  go.mod
  go.sum
  manifests/bases/kustomize-controller/kustomization.yaml
Labels: area/bootstrap, area/install, area/kustomization

#239 docs: add more content to the README.md
  README.md
  docs/index.md
  docs/roadmap/index.md
Labels: area/docs

#247 Add support for ARMv7
  .goreleaser.yml
  cmd/gotk/install.go
  cmd/gotk/main.go
  docs/get-started/index.md
  docs/guides/installation.md
Labels: area/bootstrap, area/build, area/docs, area/install

#253 Validate bootstrap required components
  cmd/gotk/bootstrap.go
Labels: area/bootstrap

#254 Suspend bootstrap kustomization on uninstall
  cmd/gotk/uninstall.go
  docs/cmd/gotk_uninstall.md
  docs/guides/installation.md
Labels: area/docs, area/install

#256 Use release archive as kustomize base
  .github/workflows/update.yml
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
Labels: area/UX, area/install

#258 ci: take "v" of RELEASE_VERSION into account
  .github/workflows/update.yml
Labels: area/build

#259 Always apply sync manifests on bootstrap
  cmd/gotk/bootstrap_github.go
  cmd/gotk/bootstrap_gitlab.go
Labels: area/bootstrap

#260 Add support for namespace/name format in depends-on
  cmd/gotk/create_helmrelease.go
  cmd/gotk/create_kustomization.go
  cmd/gotk/utils.go
  docs/cmd/gotk_create_helmrelease.md
  docs/cmd/gotk_create_kustomization.md
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
Labels: area/helm, area/kustomization

#262 Add community section
  docs/index.md
Labels: area/docs

#265 Add community section to `README.md`
  CONTRIBUTING.md
  README.md
  docs/index.md
Labels: area/docs

#270 Add support for Bucket sources to Kustomizations/HRs
  cmd/gotk/create_helmrelease.go
  cmd/gotk/create_kustomization.go
  cmd/gotk/main.go
  cmd/gotk/reconcile_helmrelease.go
  cmd/gotk/reconcile_kustomization.go
  cmd/gotk/reconcile_source_bucket.go
  cmd/gotk/reconcile_source_git.go
  cmd/gotk/reconcile_source_helm.go
  cmd/gotk/utils.go
  docs/cmd/gotk_create_helmrelease.md
  docs/cmd/gotk_create_kustomization.md
Labels: area/docs, area/helm, area/kustomization

#273 Add support for multi-namespace tenant ownership
  cmd/gotk/create_tenant.go
  docs/cmd/gotk_create_tenant.md
Labels: area/multi-tenancy, enhancement

#276 Generate a kustomize package for the bootstrap manifests
  cmd/gotk/bootstrap.go
  cmd/gotk/utils.go
Labels: area/bootstrap

#280 Update components to v0.1
  .github/workflows/bootstrap.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  cmd/gotk/bootstrap.go
  cmd/gotk/bootstrap_github.go
  cmd/gotk/bootstrap_gitlab.go
  cmd/gotk/create_helmrelease.go
  cmd/gotk/create_kustomization.go
  cmd/gotk/create_source_bucket.go
  cmd/gotk/create_source_git.go
  cmd/gotk/create_source_helm.go
  cmd/gotk/create_tenant.go
  cmd/gotk/delete_helmrelease.go
  cmd/gotk/delete_kustomization.go
  cmd/gotk/delete_source_bucket.go
  cmd/gotk/delete_source_git.go
  cmd/gotk/delete_source_helm.go
  cmd/gotk/export_helmrelease.go
  cmd/gotk/export_kustomization.go
  cmd/gotk/export_source_bucket.go
  cmd/gotk/export_source_git.go
  cmd/gotk/export_source_helm.go
  cmd/gotk/get_helmrelease.go
  cmd/gotk/get_kustomization.go
  cmd/gotk/get_source_bucket.go
  cmd/gotk/get_source_git.go
  cmd/gotk/get_source_helm.go
  cmd/gotk/install.go
  cmd/gotk/main.go
  cmd/gotk/reconcile_helmrelease.go
  cmd/gotk/reconcile_kustomization.go
  cmd/gotk/reconcile_source_bucket.go
  cmd/gotk/reconcile_source_git.go
  cmd/gotk/reconcile_source_helm.go
  cmd/gotk/resume_helmrelease.go
  cmd/gotk/resume_kustomization.go
  cmd/gotk/suspend_helmrelease.go
  cmd/gotk/suspend_kustomization.go
  cmd/gotk/uninstall.go
  cmd/gotk/utils.go
  docs/cmd/gotk_create.md
  docs/cmd/gotk_create_tenant.md
  docs/cmd/gotk_install.md
  docs/dev-guides/source-watcher.md
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
  mkdocs.yml
Labels: area/bootstrap, area/install

#282 Fix broken link to Get Started Guide
  README.md
Labels: area/docs
