Repository fluxcd/flux2, pull requests merged in 2020-06, with the labels that each got.

#51 Add get started guide
  docs/get-started/index.md
Labels: area/docs

#58 Improve logging and error messages
  cmd/tk/check.go
  cmd/tk/create_source_git.go
  cmd/tk/export_source_git.go
  cmd/tk/get_source_git.go
  cmd/tk/sync_source_git.go
  cmd/tk/utils.go
  pkg/git/provider_github.go
  pkg/git/provider_gitlab.go
Labels: area/UX

#59 Use owner in Git author email
  cmd/tk/bootstrap_github.go
  cmd/tk/bootstrap_gitlab.go
Labels: area/UX, area/git

#60 Disable autogen footer CLI doc gen
  Makefile
  cmd/tk/main.go
  docs/cmd/tk.md
  docs/cmd/tk_bootstrap.md
  docs/cmd/tk_bootstrap_github.md
  docs/cmd/tk_bootstrap_gitlab.md
  docs/cmd/tk_check.md
  docs/cmd/tk_completion.md
  docs/cmd/tk_create.md
  docs/cmd/tk_create_kustomization.md
  docs/cmd/tk_create_source.md
  docs/cmd/tk_create_source_git.md
  docs/cmd/tk_delete.md
  docs/cmd/tk_delete_kustomization.md
  docs/cmd/tk_delete_source.md
  docs/cmd/tk_delete_source_git.md
  docs/cmd/tk_export.md
  docs/cmd/tk_export_kustomization.md
  docs/cmd/tk_export_source.md
  docs/cmd/tk_export_source_git.md
  docs/cmd/tk_get.md
  docs/cmd/tk_get_kustomizations.md
  docs/cmd/tk_get_sources.md
  docs/cmd/tk_get_sources_git.md
  docs/cmd/tk_install.md
  docs/cmd/tk_resume.md
  docs/cmd/tk_resume_kustomization.md
  docs/cmd/tk_suspend.md
  docs/cmd/tk_suspend_kustomization.md
  docs/cmd/tk_sync.md
  docs/cmd/tk_sync_kustomization.md
  docs/cmd/tk_sync_source.md
  docs/cmd/tk_sync_source_git.md
  docs/cmd/tk_uninstall.md
  mkdocs.yml
Labels: area/UX, area/build, area/docs

#62 Dedicated sections in components menu
  docs/index.md
  mkdocs.yml
Labels: area/docs

#64 Add roadmap draft to docs
  docs/roadmap/index.md
  mkdocs.yml
Labels: area/docs

#67 Create logger interface
  cmd/tk/bootstrap.go
  cmd/tk/bootstrap_github.go
  cmd/tk/bootstrap_gitlab.go
  cmd/tk/check.go
  cmd/tk/create_kustomization.go
  cmd/tk/create_source_git.go
  cmd/tk/delete_kustomization.go
  cmd/tk/delete_source_git.go
  cmd/tk/export_kustomization.go
  cmd/tk/export_source_git.go
  cmd/tk/get_kustomization.go
  cmd/tk/get_source_git.go
  cmd/tk/install.go
  cmd/tk/log.go
  cmd/tk/main.go
  cmd/tk/resume_kustomization.go
  cmd/tk/suspend_kustomization.go
  cmd/tk/sync_kustomization.go
  cmd/tk/sync_source_git.go
  cmd/tk/uninstall.go
  pkg/log/log.go
Labels: area/UX, enhancement

#70 Migrate to fluxcd/pkg
  cmd/tk/bootstrap_github.go
  cmd/tk/bootstrap_gitlab.go
  cmd/tk/create_source_git.go
  go.mod
  go.sum
  pkg/git/provider.go
  pkg/git/provider_github.go
  pkg/git/provider_gitlab.go
  pkg/git/repository.go
  pkg/ssh/host_key.go
  pkg/ssh/key_pair.go
  pkg/ssh/knownhosts/LICENSE
  pkg/ssh/knownhosts/knownhosts.go
  pkg/ssh/knownhosts/knownhosts_test.go
Labels: area/build
