Repository fluxcd/flux2, pull requests merged in 2020-11, with the labels that each got.

#406 Add release procedure documentation
  docs/dev-guides/source-watcher.md
  docs/internal/release.md
Labels: area/docs

#416 Fix datasource for cluster Grafana dashboard
  manifests/monitoring/grafana/dashboards/cluster.json
Labels: area/monitoring

#419 Add Helm Operator migration guide
  docs/guides/helm-operator-migration.md
  mkdocs.yml
Labels: area/docs

#420 Update tag line and featured talks
  README.md
  docs/index.md
  mkdocs.yml
Labels: area/docs

#422 Rework Flux2 website intro
  docs/components/index.md
  docs/index.md
  mkdocs.yml
Labels: area/docs

#421 Update Helm v3 feature parity roadmap
  docs/roadmap/index.md
Labels: area/docs

#425 docs: fixing command for expected output
  docs/guides/installation.md
Labels: area/docs

#430 Rename migration menu items
  mkdocs.yml
Labels: area/docs

#433 Add customize Flux manifests section to install docs
  docs/guides/installation.md
Labels: area/docs

#434 Add target namespace to create ks cmd
  cmd/flux/create_kustomization.go
  docs/cmd/flux_create_kustomization.md
Labels: area/kustomization

#435 Update authentication hint for Azure
  docs/guides/mozilla-sops.md
Labels: area/docs

#438 List component images in check cmd
  cmd/flux/check.go
Labels: area/UX

#442 docs: fix typo
  docs/guides/helm-operator-migration.md
Labels: area/docs

#446 Add values file example to Helm docs
  docs/guides/helmreleases.md
Labels: area/docs, area/helm

#450 Add token authentication option to bootstrap
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  docs/cmd/flux_bootstrap.md
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  docs/guides/installation.md
Labels: area/UX, area/bootstrap, enhancement

#452 Add the Terraform provider to install docs
  docs/guides/installation.md
Labels: area/docs

#455 Fix GitHub bootstrap with token auth
  cmd/flux/bootstrap_github.go
Labels: bug

#458 Update engineerd/setup-kind to v0.5.0
  .github/workflows/bootstrap.yaml
  .github/workflows/e2e.yaml
Labels: area/build

#461 Fix cluster path in install docs
  docs/guides/installation.md
Labels: area/docs, bug

#484 Utilize LastHandledReconcileAt for source reconcile commands
  cmd/flux/create_source_helm.go
  cmd/flux/reconcile_source_bucket.go
  cmd/flux/reconcile_source_git.go
  cmd/flux/reconcile_source_helm.go
Labels: area/UX, area/source, enhancement

#487 Add AWS IAM role example to SOPS docs
  docs/guides/mozilla-sops.md
Labels: area/docs

#492 Add docs on how to use Kustomize to generate Helm values
  docs/guides/helmreleases.md
Labels: area/docs, area/helm

#491 Add values-from arg to create helmrelease cmd
  cmd/flux/create_helmrelease.go
  docs/cmd/flux_create_helmrelease.md
  internal/flags/helm_release_values.go
Labels: area/UX, area/helm

#498 Add GitHub Action for Flux CLI
  action/Dockerfile
  action/README.md
  action/action.yml
  action/entrypoint.sh
Labels: area/UX, area/build

#505 Add service accounts to tenant command
  cmd/flux/create_tenant.go
  docs/cmd/flux_create.md
  docs/cmd/flux_create_tenant.md
  mkdocs.yml
Labels: area/multi-tenancy, enhancement

#506 add a note not to apply encrypted secrets directly
  docs/guides/mozilla-sops.md
Labels: area/docs

#511 Set kubecontext and kubeconfig for kubectl exec
  cmd/flux/bootstrap.go
  cmd/flux/check.go
  cmd/flux/install.go
  cmd/flux/uninstall.go
  internal/utils/utils.go
Labels: area/bootstrap, area/install

#518 Add upgrade docs to install guide
  docs/guides/installation.md
Labels: area/bootstrap, area/docs, area/install

#519 Add service account arg to create commands
  cmd/flux/create_helmrelease.go
  cmd/flux/create_kustomization.go
  docs/cmd/flux_create_helmrelease.md
  docs/cmd/flux_create_kustomization.md
Labels: area/helm, area/kustomization, area/multi-tenancy

#525 Fix tenant and reconcile commands
  cmd/flux/create_tenant.go
  cmd/flux/reconcile_alert.go
  cmd/flux/reconcile_helmrelease.go
  cmd/flux/reconcile_kustomization.go
  cmd/flux/reconcile_receiver.go
  cmd/flux/reconcile_source_bucket.go
  cmd/flux/reconcile_source_git.go
  cmd/flux/reconcile_source_helm.go
Labels: bug

#527 Add e2e test for create tenant
  .github/workflows/e2e.yaml
Labels: area/multi-tenancy
