Repository fluxcd/flux2, pull requests merged in 2021-04, with the labels that each got.

#1191 Add recurse submodules arg to create source git and bootstrap cmd
  .github/workflows/e2e.yaml
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_git.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/create_source_git.go
  docs/cmd/flux_bootstrap.md
  docs/cmd/flux_bootstrap_git.md
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  docs/cmd/flux_create_source_git.md
  pkg/manifestgen/sync/options.go
  pkg/manifestgen/sync/sync.go
Labels: area/bootstrap, area/git, enhancement

#1222 Fix create source git auth for non-HTTPS repos
  cmd/flux/create_source_git.go
  cmd/flux/log.go
  pkg/log/log.go
Labels: area/git

#1231 Take private key from file into account in Git bootstrap
  cmd/flux/bootstrap_git.go
Labels: area/bootstrap

#1226 Revamp bootstrap documentation
  README.md
  docs/guides/installation.md
  docs/guides/mozilla-sops.md
  docs/guides/notifications.md
  docs/use-cases/azure.md
Labels: area/docs

#1241 Correctly load private key by not decoding PEM twice
  pkg/manifestgen/sourcesecret/sourcesecret.go
  pkg/manifestgen/sourcesecret/sourcesecret_test.go
  pkg/manifestgen/sourcesecret/testdata/rsa
  pkg/manifestgen/sourcesecret/testdata/rsa.pub
Labels: bug

#1240 Normalize paths to forward slashes
  cmd/flux/bootstrap_git.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/create_kustomization.go
  internal/bootstrap/bootstrap.go
  internal/flags/safe_relative_path.go
Labels: area/bootstrap, bug

#1242 Always report components health in bootstrap
  internal/bootstrap/bootstrap.go
  internal/bootstrap/bootstrap_plain_git.go
  internal/bootstrap/bootstrap_provider.go
  internal/bootstrap/git/git.go
  internal/bootstrap/git/gogit/gogit.go
Labels: area/bootstrap, enhancement

#1253 Change private flag description
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
Labels: area/UX, area/bootstrap, area/docs, enhancement

#1256 Publish OpenAPI schemas for Flux CRDs
  .github/workflows/release.yaml
  .goreleaser.yml
  manifests/crds/kustomization.yaml
Labels: area/build

#1288 Suggest an alternative gradual migration technique
  docs/guides/helm-operator-migration.md
Labels: area/docs, area/helm

#1307 Drop AutoInit from Org repository create
  internal/bootstrap/bootstrap_provider.go
Labels: area/bootstrap

#1308 Use slash target path in Git bootstrap sync opts
  cmd/flux/bootstrap_git.go
Labels: area/bootstrap, area/git, bug

#1287 Add get all command
  cmd/flux/get_all.go
  cmd/flux/get_image_all.go
  cmd/flux/get_source_all.go
  docs/cmd/flux_get.md
  docs/cmd/flux_get_all.md
  mkdocs.yml
Labels: area/UX, enhancement

#1264 Add support for password protected SSH keys to bootstrap
  cmd/flux/bootstrap_git.go
  cmd/flux/create_source_git.go
  docs/cmd/flux_bootstrap_git.md
  pkg/manifestgen/sourcesecret/sourcesecret.go
  pkg/manifestgen/sourcesecret/sourcesecret_test.go
  pkg/manifestgen/sourcesecret/testdata/password_rsa
  pkg/manifestgen/sourcesecret/testdata/password_rsa.pub
Labels: area/bootstrap, enhancement

#1296 Add `ValuesFiles` documentation
  cmd/flux/create_helmrelease.go
  docs/guides/helm-operator-migration.md
  docs/guides/helmreleases.md
Labels: area/docs

#1324 Move to `v1alpha2` image update APIs
  cmd/flux/create_image_policy.go
  cmd/flux/create_image_repository.go
  cmd/flux/create_image_update.go
  cmd/flux/delete_image_policy.go
  cmd/flux/delete_image_repository.go
  cmd/flux/delete_image_update.go
  cmd/flux/export_image_policy.go
  cmd/flux/export_image_repository.go
  cmd/flux/export_image_update.go
  cmd/flux/get_image_all.go
  cmd/flux/get_image_policy.go
  cmd/flux/get_image_repository.go
  cmd/flux/get_image_update.go
  cmd/flux/image.go
  cmd/flux/reconcile_image_repository.go
  cmd/flux/reconcile_image_updateauto.go
  cmd/flux/resume_image_repository.go
  cmd/flux/resume_image_updateauto.go
  cmd/flux/suspend_image_repository.go
  cmd/flux/suspend_image_updateauto.go
  internal/utils/utils.go
Labels: area/image-automation, enhancement

#1255 Add Helm use case intro page
  docs/use-cases/helm.md
  mkdocs.yml
Labels: area/docs, area/helm

#1200 use-case: GitHub Actions Manifest Generation
  docs/use-cases/gh-actions-manifest-generation.md
  mkdocs.yml
Labels: area/docs

#1325 build: incl CRD version change in component update
  .github/workflows/update.yaml
Labels: area/build

#1323 Update the APIs docs
  .github/workflows/docs.yaml
  manifests/crds/kustomization.yaml
Labels: area/build

#1328 Change permission grant error print conditons
  internal/bootstrap/bootstrap_provider.go
Labels: area/bootstrap

#1330 Fix update automation and update CRDs
  .github/workflows/update.yaml
  manifests/crds/kustomization.yaml
Labels: area/build

#1300 Allow pre-bootstrap customisation of Flux components
  docs/guides/installation.md
  internal/bootstrap/bootstrap_plain_git.go
  internal/utils/utils.go
Labels: area/UX, area/bootstrap, enhancement

#1314 Add password for ssh private key to create secret git
  cmd/flux/create_secret_git.go
  cmd/flux/create_source_git.go
  docs/cmd/flux_create_secret_git.md
  docs/cmd/flux_create_source_git.md
Labels: area/git, enhancement

#1208 fix link to Mozilla SOPS Azure Guide
  docs/use-cases/azure.md
Labels: area/docs

#1332 Update image automation guides to v1alpha2
  docs/guides/flux-v1-automation-migration.md
  docs/guides/image-update.md
  docs/guides/sortable-image-tags.md
Labels: area/docs, area/image-automation

#1215 update sortable image tag guide with github.run_number
  docs/guides/sortable-image-tags.md
Labels: area/docs

#1334 Add upgrade CRDs policy arg to create helmrelease cmd
  cmd/flux/create_helmrelease.go
  docs/cmd/flux_create_helmrelease.md
  docs/guides/sealed-secrets.md
  internal/flags/crds.go
  internal/flags/crds_test.go
Labels: area/docs, area/helm, enhancement

#1353 Specify netlify build
  .gitignore
  netlify.toml
  requirements.txt
  runtime.txt
Labels: area/docs

#1359 Copy docs assets for Netlify build
  .github/workflows/docs.yaml
  copy-docs-assets.sh
  netlify.toml
Labels: area/docs

#1360 add redirects file
  _redirects
  netlify.toml
Labels: area/docs

#1361 Stop deploy to Github pages
  .github/workflows/docs.yaml
Labels: area/build

#1363 Explain where the docs went
  copy-docs-assets.sh
  docs/README.md
  docs/_redirects
  netlify.toml
  requirements.txt
  runtime.txt
Labels: area/docs

#1364 Update install script URL
  README.md
  docs/dev-guides/source-watcher.md
  docs/get-started/index.md
  docs/guides/flux-v1-migration.md
  docs/guides/installation.md
Labels: area/docs
