Repository fluxcd/flux2, pull requests merged in 2021-11, with the labels that each got.

#2032 Enable completion for flux tree cmd
  cmd/flux/tree_kustomization.go
Labels: area/UX

#2033 Add flux version to issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: area/docs

#2034 Set default ns with `FLUX_SYSTEM_NAMESPACE` env var
  cmd/flux/main.go
Labels: enhancement, area/UX

#2035 Add fetch timeout arg to create source commands
  cmd/flux/create_source.go
  cmd/flux/create_source_bucket.go
  cmd/flux/create_source_git.go
  cmd/flux/create_source_helm.go
Labels: enhancement, area/UX, area/source

#2036 Switch to `app.kubernetes.io/part-of` label selector
  cmd/flux/check.go
  cmd/flux/logs.go
  cmd/flux/uninstall.go
  cmd/flux/version.go
  pkg/manifestgen/labels.go
Labels: enhancement

#2041 bootstrap: Set ECDSA as the default SSH key algorithm
  cmd/flux/bootstrap.go
  cmd/flux/create_secret_git.go
Labels: area/bootstrap

#2042 Set ECDSA as the default algorithm for `flux create source git`
  cmd/flux/create_source_git.go
Labels: area/git

#2046 Use full domain name for notification-controller
  pkg/manifestgen/install/manifests.go
Labels: area/bootstrap, area/install

#2050 Add `DO NOT EDIT` warn to bootstrap sync manifests
  pkg/manifestgen/manifest.go
  pkg/manifestgen/sync/sync.go
Labels: area/UX, area/bootstrap

#2038 feat: prompt for access tokens in 'bootstrap' command
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/main.go
  go.mod
Labels: area/UX, area/bootstrap

#2064 Update dependencies
  go.mod
  go.sum
  internal/bootstrap/provider/factory.go
  internal/utils/apply.go
  tests/bootstrap/main.go
Labels: area/build

#2066 Make flux bootstrap and install comments consistent
  cmd/flux/install.go
  pkg/manifestgen/install/install.go
  pkg/manifestgen/install/install_test.go
  pkg/manifestgen/manifest.go
Labels: area/UX, area/bootstrap, area/install

#2062 Edit grafana dashboard to be able to filter by namespace
  manifests/monitoring/grafana/dashboards/cluster.json
Labels: area/UX, area/monitoring

#2091 Update Alpine to v3.14
  Dockerfile
Labels: area/build

#2096 Add e2e test for image automation
  .github/workflows/bootstrap.yaml
  Makefile
  tests/image-automation/auto.yaml
  tests/image-automation/kustomization.yaml
  tests/image-automation/main.go
Labels: area/build

#2101 Update test files to use ecdsa key
  cmd/flux/create_secret_git_test.go
  cmd/flux/testdata/create_secret/git/ecdsa-password.private
  cmd/flux/testdata/create_secret/git/ecdsa.private
  cmd/flux/testdata/create_secret/git/git-ssh-secret-password.yaml
  cmd/flux/testdata/create_secret/git/git-ssh-secret.yaml
  cmd/flux/testdata/create_secret/git/rsa-password.private
  cmd/flux/testdata/create_secret/git/rsa.private
Labels: area/git

#2070 bootstrap: add BitBucket Server (previously known as Stash) support
  cmd/flux/bootstrap_bitbucket_server.go
  go.mod
  go.sum
  internal/bootstrap/bootstrap_provider.go
  internal/bootstrap/provider/factory.go
  internal/bootstrap/provider/provider.go
Labels: enhancement, area/bootstrap

#2107 Publish OpenAPI JSON schemas for Visual Studio Code IntelliSense
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: area/build

#2113 Remove deprecated `io/ioutil` from `flux tree`
  cmd/flux/tree_kustomization.go
Labels: area/build

#2121 bootstrap: Add support for self-signed TLS certs by supplying a custom CA
  cmd/flux/bootstrap_bitbucket_server.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  go.mod
  go.sum
  internal/bootstrap/bootstrap_plain_git.go
  internal/bootstrap/options.go
  internal/bootstrap/provider/factory.go
  internal/bootstrap/provider/provider.go
Labels: enhancement, area/bootstrap

#2123 Fix GitHub bootstrap when using custom TLS CA
  cmd/flux/bootstrap_github.go
Labels: bug, area/bootstrap

#2135 Revert JSON schemas
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: area/build

#2085 [RFC-0000] Introduce the Flux RFC template
  rfcs/README.md
  rfcs/RFC-0000/README.md
Labels: area/RFC
