Repository fluxcd/flux2, pull requests merged in 2021-02, with the labels that each got.

#837 Add image automation components hint to docs
  docs/guides/image-update.md
Labels: area/docs

#840 Improve image update CronJob examples
  docs/guides/image-update.md
Labels: area/docs

#824 Highlight PATCH versions can be used to upgrade
  docs/guides/installation.md
Labels: area/docs

#853 Tune component update configuration
  .github/workflows/update.yml
Labels: area/build

#854 Move migration sub-menu to top-menu
  mkdocs.yml
Labels: area/docs

#858 Put CHANGELOG URL on new line in commit / PR body
  .github/workflows/update.yml
Labels: area/build

#845 Replace kubectl rollout with kstatus checks
  cmd/flux/bootstrap.go
  cmd/flux/check.go
  cmd/flux/install.go
  cmd/flux/status.go
  go.mod
  go.sum
Labels: area/bootstrap, area/install, enhancement

#861 Refactor components status check
  cmd/flux/bootstrap.go
  cmd/flux/check.go
  cmd/flux/install.go
  cmd/flux/status.go
  docs/cmd/flux_check.md
Labels: area/UX, area/bootstrap, area/install

#848 Exclude deleted resources on prometheus alerting query
  docs/guides/monitoring.md
Labels: area/docs, area/monitoring

#863 Fix GitLab bootstrap by using (sub)group paths
  docs/guides/installation.md
  go.mod
  go.sum
Labels: area/bootstrap

#866 Add support for multiple values files to create hr
  cmd/flux/create_helmrelease.go
  docs/cmd/flux_create_helmrelease.md
  internal/utils/utils.go
Labels: area/helm

#867 Add support for getting resources by name
  cmd/flux/get.go
  cmd/flux/get_alert.go
  cmd/flux/get_alertprovider.go
  cmd/flux/get_helmrelease.go
  cmd/flux/get_image.go
  cmd/flux/get_kustomization.go
  cmd/flux/get_receiver.go
  cmd/flux/get_source.go
  docs/cmd/flux_get.md
  docs/cmd/flux_get_images.md
  docs/cmd/flux_get_images_policy.md
  docs/cmd/flux_get_images_repository.md
  docs/cmd/flux_get_images_update.md
  mkdocs.yml
Labels: area/UX, area/docs, enhancement

#871 Add incident management section to image automation docs
  docs/guides/image-update.md
Labels: area/docs, area/image-automation

#880 Add FAQ to explain the current Kustomize behavior
  docs/faq/index.md
Labels: area/docs, area/kustomization

#877 Add ACR auth to Image Updates examples
  docs/guides/image-update.md
  manifests/integrations/registry-credentials-sync/_base/kustomization.yaml
  manifests/integrations/registry-credentials-sync/_base/kustomizeconfig.yaml
  manifests/integrations/registry-credentials-sync/_base/sync.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/_base/kustomization.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/_base/kustomizeconfig.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/_base/sync.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/aws/config-patches.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/aws/kubectl-patch.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/aws/kustomization.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/aws/reconcile-patch.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/azure/az-identity.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/azure/config-patches.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/azure/kubectl-patch.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/azure/kustomization.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/azure/kustomizeconfig.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/azure/reconcile-patch.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/gcp/config-patches.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/gcp/kustomization.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/gcp/reconcile-patch.yaml
  manifests/integrations/registry-credentials-sync/aws/config-patches.yaml
  manifests/integrations/registry-credentials-sync/aws/kubectl-patch.yaml
  manifests/integrations/registry-credentials-sync/aws/kustomization.yaml
  manifests/integrations/registry-credentials-sync/aws/reconcile-patch.yaml
  manifests/integrations/registry-credentials-sync/azure/az-identity.yaml
  manifests/integrations/registry-credentials-sync/azure/config-patches.yaml
  manifests/integrations/registry-credentials-sync/azure/kubectl-patch.yaml
  manifests/integrations/registry-credentials-sync/azure/kustomization.yaml
  manifests/integrations/registry-credentials-sync/azure/kustomizeconfig.yaml
  manifests/integrations/registry-credentials-sync/azure/reconcile-patch.yaml
  manifests/integrations/registry-credentials-sync/gcp/config-patches.yaml
  manifests/integrations/registry-credentials-sync/gcp/kustomization.yaml
  manifests/integrations/registry-credentials-sync/gcp/reconcile-patch.yaml
Labels: area/docs, area/image-automation

#879 Add Azure DevOps PAT auth to install docs
  docs/guides/installation.md
Labels: area/docs, area/git, area/install

#860 Adding --select-alpha and --extract to create image policy
  .github/workflows/e2e.yaml
  cmd/flux/create_image_policy.go
  docs/cmd/flux_create_image_policy.md
Labels: area/UX, area/image-automation, enhancement

#893 Link to community page from docs home page
  docs/index.md
Labels: area/docs

#897 Map timeout arg to bootstrap status check
  README.md
  cmd/flux/bootstrap.go
  docs/index.md
Labels: area/bootstrap, area/docs

#898 docs: improve Kustomize behavior FAQ
  docs/faq/index.md
Labels: area/docs

#899 Allow Flux to be deployed on tainted Kubernetes nodes
  cmd/flux/bootstrap.go
  cmd/flux/install.go
  docs/cmd/flux.md
  docs/cmd/flux_bootstrap.md
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  docs/cmd/flux_install.md
  docs/guides/installation.md
  pkg/manifestgen/install/install_test.go
  pkg/manifestgen/install/options.go
  pkg/manifestgen/install/templates.go
Labels: area/bootstrap, area/install, enhancement

#904 Add flux version to bootstrap commit messages
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/install.go
  pkg/manifestgen/install/install.go
Labels: area/UX, area/bootstrap, area/install

#906 Give more explanation for --personal flag
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
Labels: area/bootstrap, area/docs

#891 Refactor flux uninstall command
  .github/workflows/bootstrap.yaml
  .github/workflows/e2e.yaml
  cmd/flux/main.go
  cmd/flux/uninstall.go
  docs/cmd/flux.md
  docs/cmd/flux_uninstall.md
  docs/guides/installation.md
  internal/utils/utils.go
Labels: area/UX, area/install, enhancement

#878 Add guide for pprof endpoints
  docs/dev-guides/debugging.md
  mkdocs.yml
Labels: area/docs

#908 Update sigs.k8s.io/kustomize/api to v0.7.4
  go.mod
  go.sum
Labels: area/build

#910 Add caFile to create source/secret git commands
  cmd/flux/bootstrap.go
  cmd/flux/create_secret_git.go
  cmd/flux/create_source_git.go
  docs/cmd/flux_create_secret_git.md
  docs/cmd/flux_create_source_git.md
Labels: area/git, enhancement

#911 Validate if only one image policy selector is given
  cmd/flux/create_image_policy.go
Labels: area/image-automation

#806 Image automation migration guide
  docs/guides/flux-v1-automation-migration.md
  docs/guides/sortable-image-tags.md
  mkdocs.yml
Labels: area/docs, area/image-automation

#914 Update image update feature parity roadmap
  docs/guides/image-update.md
  docs/roadmap/index.md
Labels: area/docs

#915 docs: list Helm post renderer feature
  docs/components/helm/controller.md
Labels: area/docs, area/helm

#922 Improve version checks for `check`, `bootstrap` and `install`
  cmd/flux/bootstrap.go
  cmd/flux/check.go
  cmd/flux/install.go
  go.mod
  go.sum
  internal/utils/utils.go
  internal/utils/utils_test.go
  pkg/manifestgen/install/install.go
Labels: area/UX, area/bootstrap, area/install

#923 Use `MergeMaps` from pkg/runtime v0.8.2
  cmd/flux/create_helmrelease.go
  go.mod
  go.sum
  internal/utils/utils.go
Labels: area/build

#931 Add CodeQL Security Scanning
  .github/workflows/codeql-analysis.yml
Labels: area/build

#933 A few minor updates to sealed secrets docs
  docs/guides/sealed-secrets.md
Labels: area/docs

#932 Snyk GitHub Action added
  .github/workflows/snyk.yaml
Labels: area/build

#929 Refactor Flux GitHub Action
  action/Dockerfile
  action/README.md
  action/action.yml
  action/entrypoint.sh
Labels: area/build

#935 Fix typo in gotk_reconcile_condition status
  docs/guides/monitoring.md
Labels: area/docs

#934 Merge scanning actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/fossa.yml
  .github/workflows/scan.yml
  .github/workflows/snyk.yaml
Labels: area/build

#943 Exclude ARM archs from Darwin release builds
  .goreleaser.yml
Labels: area/build

#944 Split scan workflow into seperate CodeQL, FOSSA, Snyk jobs
  .github/workflows/bootstrap.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/rebase.yaml
  .github/workflows/release.yaml
  .github/workflows/scan.yaml
  .github/workflows/scan.yml
  .github/workflows/update.yaml
  docs/internal/release.md
Labels: area/build

#945 Add production ready and GA sections to roadmap
  docs/roadmap/index.md
Labels: area/docs

#949 Include prerelease data in k8s version constraints
  cmd/flux/check.go
Labels: bug

#967 Fix detection of PRs from forks
  .github/workflows/bootstrap.yaml
  .github/workflows/scan.yaml
Labels: area/build

#966 Use git remote-base instead of zip-archive for cloud image-update example
  docs/guides/image-update.md
Labels: area/docs

#981 Add notes about flux bootstrap and feature parity
  docs/guides/flux-v1-migration.md
Labels: area/docs

#974 Add example podMonitor for prometheus
  docs/guides/monitoring.md
Labels: area/docs, area/monitoring

#982 Update toolkit components
  .github/workflows/update.yaml
  go.mod
  go.sum
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/image-automation-controller/kustomization.yaml
  manifests/bases/image-reflector-controller/kustomization.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/source-controller/kustomization.yaml
Labels: area/build

#983 Fix controller_version helper func
  .github/workflows/docs.yaml
Labels: area/build

#984 Publish flux binary for Apple Silicon
  .github/workflows/bootstrap.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .goreleaser.yml
  go.mod
  go.sum
Labels: area/build

#988 Properly setup Go version in update workflow
  .github/workflows/update.yaml
Labels: area/build

#987 Embed the Kubernetes manifests in flux binary
  .github/workflows/bootstrap.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/scan.yaml
  .gitignore
  Makefile
  cmd/flux/bootstrap.go
  cmd/flux/embed.go
  cmd/flux/install.go
  cmd/flux/main.go
  cmd/flux/version.go
  docs/cmd/flux_bootstrap.md
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  docs/cmd/flux_install.md
  manifests/scripts/bundle.sh
  pkg/manifestgen/install/install.go
  pkg/manifestgen/install/install_test.go
Labels: area/UX, area/bootstrap, area/install

#992 Update sigs.k8s.io/cli-utils to v0.22.2
  cmd/flux/status.go
  go.mod
  go.sum
Labels: area/bootstrap, bug

#993 Document air-gapped install procedure
  docs/guides/installation.md
Labels: area/bootstrap, area/docs
