Repository fluxcd/flux2, pull requests merged in 2021-01, with the labels that each got.

#646 Make sure flux create output gets redirected to file
  docs/guides/image-update.md
Labels: area/docs

#647 Validates components set
  cmd/flux/bootstrap.go
  cmd/flux/install.go
  internal/utils/utils.go
  pkg/manifestgen/install/options.go
Labels: area/UX, area/bootstrap, area/install, enhancement

#600 Add core concepts to docs
  docs/core-concepts/index.md
  mkdocs.yml
Labels: area/docs

#648 Validates project name for gitlab
  cmd/flux/bootstrap_gitlab.go
Labels: area/UX, area/bootstrap

#649 Update upcoming events & featured talks section
  docs/index.md
Labels: area/docs

#654 Update helm release guide
  docs/guides/helmreleases.md
Labels: area/docs, area/helm

#656 Minor fixes to core concepts doc
  docs/core-concepts/index.md
Labels: area/docs

#658 Coverts backward slash to forward slash in path flag
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
Labels: area/bootstrap

#660 Checks if bootstrap path differs
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
Labels: area/UX, area/bootstrap

#663 Cross off tasks in the image automation roadmap
  docs/roadmap/index.md
Labels: area/docs

#664 Update dev guide to point to fluxcd/source-watcher
  docs/dev-guides/source-watcher.md
Labels: area/docs

#670 Map ecdsa/ed25519 args to create secret
  cmd/flux/bootstrap.go
  cmd/flux/create_secret.go
  cmd/flux/create_secret_git.go
  cmd/flux/create_source_git.go
Labels: area/git

#671 Fix manifests path on Windows
  pkg/manifestgen/sync/sync.go
Labels: area/install

#672 Add create secret helm command
  cmd/flux/create_secret_git.go
  cmd/flux/create_secret_helm.go
  docs/cmd/flux_create_secret.md
  docs/cmd/flux_create_secret_git.md
  docs/cmd/flux_create_secret_helm.md
  mkdocs.yml
Labels: area/UX, area/helm, enhancement

#673 Add DCO signoff ref to contributing doc
  CONTRIBUTING.md
Labels: area/docs

#608 Simplify the getting started guide
  docs/get-started/index.md
Labels: area/docs

#675 Add generated manifests to get started guide
  docs/get-started/index.md
  docs/guides/image-update.md
Labels: area/docs

#681 Fix GitLab bootstrap when used with sub-groups
  cmd/flux/bootstrap_gitlab.go
  go.mod
  go.sum
Labels: area/bootstrap

#683 Fix Azure DevOps URL in docs
  docs/guides/installation.md
Labels: area/docs

#687 Update sealed-secrets chart URL
  docs/guides/sealed-secrets.md
Labels: area/docs, area/helm

#668 Update commit status notification guide
  docs/_files/commit-status-flow.png
  docs/_files/commit-status-github-failure.png
  docs/_files/commit-status-github-overview.png
  docs/_files/commit-status-github-success.png
  docs/_files/commit-status-gitlab-failure.png
  docs/_files/commit-status-gitlab-success.png
  docs/_files/github-commit-status.png
  docs/_files/gitlab-commit-status.png
  docs/guides/notifications.md
Labels: area/docs

#694 Remove deprecated source behaviour
  docs/guides/helmreleases.md
Labels: area/docs

#678 Added Jan 25 Meetup to Upcoming Events section
  README.md
Labels: area/docs

#698 Moved 11 Jan talk from Upcoming to Featured
  docs/index.md
Labels: area/docs

#702 Add git implementation to generate sync options
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  pkg/manifestgen/sync/options.go
  pkg/manifestgen/sync/sync.go
Labels: enhancement

#708 Allow egress traffic for controller pods
  manifests/policies/deny-ingress.yaml
Labels: area/bootstrap, area/install

#705 Update pkg/git to v0.2.1
  cmd/flux/bootstrap_gitlab.go
  go.mod
  go.sum
Labels: bug

#651 Typo fix in image-update documentation
  docs/guides/image-update.md
Labels: area/docs

#711 Add e2e tests for image repository and policy
  .github/workflows/e2e.yaml
Labels: area/build, area/image-automation

#684 Deprecate arch flags in favor of multi-arch images
  cmd/flux/bootstrap.go
  cmd/flux/install.go
  docs/cmd/flux_bootstrap.md
  docs/cmd/flux_bootstrap_github.md
  docs/cmd/flux_bootstrap_gitlab.md
  docs/cmd/flux_install.md
  docs/get-started/index.md
  docs/guides/installation.md
  pkg/manifestgen/install/options.go
  pkg/manifestgen/install/templates.go
Labels: area/UX, area/bootstrap, area/install, enhancement

#680 Configure `project_name` for GoReleaser
  .goreleaser.yml
  install/flux.sh
Labels: area/build

#713 docs: styling of hint blocks
  docs/get-started/index.md
  docs/guides/installation.md
Labels: area/docs

#709 Add GCP docs for Mozilla SOPS
  docs/guides/mozilla-sops.md
Labels: area/docs

#714 Add regex filter arg to policy command
  cmd/flux/create_image_policy.go
  cmd/flux/create_image_updateauto.go
  docs/cmd/flux_create_image_policy.md
  docs/cmd/flux_create_image_update.md
Labels: area/image-automation

#641 Link docs how to get zsh/fish/ps completion to work in getting-started
  docs/get-started/index.md
Labels: area/docs

#721 Remove GitImplementation default and create custom flag
  cmd/flux/bootstrap.go
  cmd/flux/create_source_git.go
  docs/cmd/flux_create_source_git.md
  internal/flags/git_implementation.go
  internal/flags/git_implementation_test.go
  pkg/manifestgen/sync/options.go
Labels: bug

#722 Fire 'Update Components' workflow on push to main
  .github/workflows/update.yml
Labels: area/build

#740 Update fluxcd/pkg/git to v0.2.2
  docs/cmd/flux_completion_bash.md
  docs/cmd/flux_completion_fish.md
  docs/cmd/flux_completion_powershell.md
  docs/cmd/flux_completion_zsh.md
  go.mod
  go.sum
Labels: area/bootstrap, area/build, area/git

#750 Update guide for mozilla sops
  docs/guides/mozilla-sops.md
Labels: area/docs

#757 Update fluxcd/pkg/git to v0.2.3
  go.mod
  go.sum
Labels: area/bootstrap, area/build, bug

#741 Include image spec and ref docs
  .github/workflows/docs.yaml
  docs/components/image/controller.md
  docs/components/index.md
Labels: area/docs

#769 Add the image automation controllers to release doc
  docs/internal/release.md
Labels: area/build, area/docs

#773 Add permissions for controller leader election.
  manifests/rbac/role.yaml
Labels: area/install

#777 Add a dedicated service account per controller
  docs/guides/installation.md
  docs/guides/mozilla-sops.md
  manifests/bases/helm-controller/account.yaml
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/helm-controller/patch.yaml
  manifests/bases/image-automation-controller/account.yaml
  manifests/bases/image-automation-controller/kustomization.yaml
  manifests/bases/image-automation-controller/patch.yaml
  manifests/bases/image-reflector-controller/account.yaml
  manifests/bases/image-reflector-controller/kustomization.yaml
  manifests/bases/image-reflector-controller/patch.yaml
  manifests/bases/kustomize-controller/account.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/kustomize-controller/patch.yaml
  manifests/bases/notification-controller/account.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/notification-controller/patch.yaml
  manifests/bases/source-controller/account.yaml
  manifests/bases/source-controller/kustomization.yaml
  manifests/bases/source-controller/patch.yaml
  manifests/rbac/controller.yaml
  manifests/rbac/kustomization.yaml
  manifests/rbac/reconciler.yaml
Labels: area/bootstrap, area/install, enhancement

#781 Update image automation docs
  docs/guides/image-update.md
  mkdocs.yml
Labels: area/docs

#774 Document StorageNamespace in Helm migration guide
  docs/guides/helm-operator-migration.md
Labels: area/docs, area/helm

#782 docs: fix image automation menu links
  mkdocs.yml
Labels: area/docs

#783 RBAC Fix: Add SA namespace to cluster role bindings
  manifests/rbac/controller.yaml
  manifests/rbac/reconciler.yaml
  pkg/manifestgen/install/templates.go
Labels: area/bootstrap, area/install, bug

#787 RBAC Fix: Replace SA namespace in ClusterRoleBindings
  pkg/manifestgen/install/manifests.go
Labels: area/bootstrap, area/install, bug

#793 Set source namespace when reconciling with source
  cmd/flux/reconcile_helmrelease.go
  cmd/flux/reconcile_kustomization.go
Labels: bug

#794 Use correct type in various get source commands
  cmd/flux/get_source_chart.go
  cmd/flux/get_source_git.go
  cmd/flux/get_source_helm.go
Labels: bug

#780 Add issue template for bug reports and questions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/index.md
Labels: area/docs

#813 Update docs ImageUpdateAutomation example
  docs/guides/image-update.md
Labels: area/docs

#812 Enable network policy in e2e
  .github/workflows/e2e.yaml
  .github/workflows/e2e_kind_config.yaml
Labels: area/build

#814 Community section clarity of purpose + support page link
  README.md
Labels: area/docs

#815 Update e2e tests to Kubernetes v1.20.2
  .github/kind/config.yaml
  .github/workflows/e2e.yaml
Labels: area/build

#818 Add webhook section to image update docs
  action/README.md
  docs/guides/image-update.md
Labels: area/docs, area/image-automation

#821 Add HelmChart not ready to FAQ
  docs/faq/index.md
Labels: area/docs

#834 Fix create secret commands
  .github/workflows/e2e.yaml
  cmd/flux/create_secret.go
  cmd/flux/create_secret_git.go
Labels: area/git, area/helm, bug
