Repository fluxcd/flux2, pull requests merged in 2021-09, with the labels that each got.

#1782 feat: enable bootstrap with custom CA locally
  cmd/flux/bootstrap_git.go
  internal/bootstrap/bootstrap.go
  internal/bootstrap/bootstrap_plain_git.go
  internal/bootstrap/git/git.go
  internal/bootstrap/git/gogit/gogit.go
Labels: enhancement, area/bootstrap

#1791 Fix Bucket SecretRef mapping
  cmd/flux/create_source_bucket.go
Labels: bug, area/source

#1810 Add version arg to make build
  Makefile
Labels: area/build

#1811 Replace promptui pkg with a fork free of LGPL
  go.mod
  go.sum
Labels: area/build

#1844 Update Makefile target in release workflow
  .github/workflows/release.yaml
Labels: area/build

#1846 Check if helmRelease.Spec.Install is nil
  cmd/flux/create_helmrelease.go
Labels: bug, area/helm

#1869 Extend `--team` flag to include access level
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_github.go
  internal/bootstrap/bootstrap_provider.go
Labels: enhancement, area/bootstrap

#1877 Use multi-arch image for kubectl
  manifests/integrations/eventhub-credentials-sync/_base/kubectl-patch.yaml
  manifests/integrations/eventhub-credentials-sync/_cronjobs/_base/kubectl-patch.yaml
  manifests/integrations/registry-credentials-sync/_base/kubectl-patch.yaml
  manifests/integrations/registry-credentials-sync/_cronjobs/_base/kubectl-patch.yaml
Labels: area/build
