Repository fluxcd/flux2, pull requests merged in 2021-03, with the labels that each got.

#1008 faq: Can I use Flux HelmReleases without GitOps?
  docs/faq/index.md
  docs/guides/helm-operator-migration.md
Labels: area/docs, area/helm

#1022 Use path with '/' slashes in created Kustomization
  cmd/flux/create_kustomization.go
Labels: bug

#1033 Move the v1 vs v2 FAQ to the migration section
  docs/faq/index.md
  docs/guides/faq-migration.md
  docs/guides/flux-v1-migration.md
  mkdocs.yml
Labels: area/docs

#1034 Fix anchor on kustomize migration link
  docs/faq/index.md
Labels: area/docs

#1060 Install Bash, Fish, ZSH auto complete in AUR pkgs
  .github/aur/flux-bin/PKGBUILD.template
  .github/aur/flux-go/PKGBUILD.template
  .github/aur/flux-scm/PKGBUILD.template
Labels: area/build

#1062 Improve build process embedded manifests
  .github/workflows/bootstrap.yaml
  .github/workflows/release.yaml
  .github/workflows/scan.yaml
  Makefile
  cmd/flux/manifests.embed.go
Labels: area/build

#1066 Make manifests dir `bundle.sh` configurable
  .github/aur/flux-go/PKGBUILD.template
  .github/aur/flux-scm/PKGBUILD.template
  .github/workflows/release.yaml
  manifests/scripts/bundle.sh
Labels: area/build

#1069 docs: fix link to source-controller documentation
  docs/core-concepts/index.md
Labels: area/docs

#1027 Improve SOPS GPG guide key management
  docs/guides/mozilla-sops.md
Labels: area/docs

#1065 Add Go 1.16 to prerequisites (contributing doc)
  CONTRIBUTING.md
Labels: area/docs

#1093 Replace delete opt on GitHub bootstrap with curl in bootstrap action
  .github/workflows/bootstrap.yaml
  cmd/flux/bootstrap_github.go
Labels: area/build

#1098 Fix hint in Flux v1 Migration guide
  docs/guides/flux-v1-automation-migration.md
Labels: area/docs

#1102 Use Host from parsed URL instead of Hostname
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/create_secret_git.go
  cmd/flux/create_source_git.go
Labels: area/bootstrap, bug

#1103 Fix updating of `go.mod` entries for components
  .github/workflows/update.yaml
Labels: area/build

#1091 Fix deployment name in image update guide
  docs/guides/image-update.md
Labels: area/docs

#1113 Add repo path and push branch to image update cmd
  cmd/flux/create_image_policy.go
  cmd/flux/create_image_repository.go
  cmd/flux/create_image_update.go
  cmd/flux/logs.go
  docs/cmd/flux.md
  docs/cmd/flux_create_image_policy.md
  docs/cmd/flux_create_image_repository.md
  docs/cmd/flux_create_image_update.md
  docs/cmd/flux_logs.md
Labels: area/docs, area/image-automation, enhancement

#1117 Add push branch and commit template to image automation guide
  docs/_files/image-update-automation.png
  docs/components/image/controller.md
  docs/guides/image-update.md
Labels: area/docs, area/image-automation

#1064 Document Azure + Flux Installs
  docs/guides/image-update.md
  docs/guides/installation.md
  docs/guides/mozilla-sops.md
  docs/index.md
  docs/use-cases/azure.md
  mkdocs.yml
Labels: area/docs

#1122 Add AWS IAM role binding example to SOPS guide
  README.md
  docs/_files/gitops-toolkit.png
  docs/guides/image-update.md
  docs/guides/mozilla-sops.md
  docs/index.md
  docs/internal/release.md
Labels: area/docs

#1128 Remove branch switch for image update cmd in guide
  docs/guides/image-update.md
Labels: area/docs

#1134 Fixup a broken reference and a typo in Azure doc
  docs/guides/mozilla-sops.md
  docs/use-cases/azure.md
Labels: area/docs

#1150 Update dev guide to controller-runtime v0.8
  docs/dev-guides/source-watcher.md
Labels: area/docs

#1156 Fix CRD deletion instruction in Helm Operator migration docs
  docs/guides/helm-operator-migration.md
Labels: area/docs

#1157 Allow supplying PK from file for Git source/secret
  cmd/flux/create_secret_git.go
  cmd/flux/create_source_git.go
  docs/cmd/flux_create_secret_git.md
  docs/cmd/flux_create_source_git.md
Labels: area/UX, area/git, area/source

#1171 Updated automation migration guide filter tags crd
  docs/guides/flux-v1-automation-migration.md
Labels: area/docs

#1173 Add source namespace to create commands
  .github/workflows/e2e.yaml
  cmd/flux/create_helmrelease.go
  cmd/flux/create_kustomization.go
  docs/cmd/flux_create_helmrelease.md
  docs/cmd/flux_create_kustomization.md
  internal/flags/helm_chart_source.go
  internal/flags/kustomization_source.go
  internal/utils/utils.go
Labels: area/UX, area/source

#1176 Fix reocncile typo
  docs/guides/flux-v1-automation-migration.md
Labels: area/docs

#1179 Publish AMD64, ARM64, ARMv7 images for binary
  .github/workflows/release.yaml
  .gitignore
  .goreleaser.yml
  Dockerfile
Labels: area/build
