Repository fluxcd/flux2, pull requests merged in 2022-07, with the labels that each got.

#2601 [RFC-0003] Flux OCI support for Kubernetes manifests
  rfcs/0003-kubernetes-oci/README.md
Labels: area/RFC

#2899 Add test for `flux <verb> artifact` command
  cmd/flux/testdata/oci/get_oci.golden
  go.mod
  go.sum
  internal/oci/build_test.go
  internal/oci/list_test.go
  internal/oci/push_pull_test.go
  internal/oci/suite_test.go
  internal/oci/tag_test.go
  internal/oci/testdata/build/deployment.yaml
  internal/oci/testdata/build/somedir/repo.yaml
Labels: area/oci

#2917 SRCINFO: fix path
  .github/aur/flux-bin/.SRCINFO.template
Labels: area/UX, area/build

#2937 AUR: ensure `pkgname` is bottom entry in .SRCINFO
  .github/aur/flux-bin/.SRCINFO.template
Labels: bug, area/build

#2940 AUR: further solve `.SRCINFO` issues
  .github/aur/flux-bin/.SRCINFO.template
  .github/aur/flux-bin/PKGBUILD.template
Labels: area/build
