Repository fluxcd/flux2, pull requests merged in 2022-04, with the labels that each got.

#2607 [Diff] Update pkg/kustomize to v0.1.0
  cmd/flux/build_kustomization_test.go
  cmd/flux/testdata/build-kustomization/podinfo-kustomization.yaml
  cmd/flux/testdata/build-kustomization/podinfo-with-var-substitution-result.yaml
  cmd/flux/testdata/build-kustomization/var-substitution/cluster.json
  cmd/flux/testdata/build-kustomization/var-substitution/deployment.yaml
  cmd/flux/testdata/build-kustomization/var-substitution/kustomization.yaml
  go.mod
  go.sum
Labels: bug, area/diff

#2609 monitoring-config: set grafana dashboards labelValues
  manifests/monitoring/kube-prometheus-stack/release.yaml
  manifests/monitoring/monitoring-config/kustomization.yaml
Labels: area/monitoring

#2616 Add cli flags for chart interval and reconcile strategy
  cmd/flux/.create_helmrelease.go.swp
  cmd/flux/create_helmrelease.go
Labels: enhancement, area/UX, area/helm

#2611 Add an option to diff with a local Flux Kustomization file
  cmd/flux/build_kustomization.go
  cmd/flux/build_kustomization_test.go
  cmd/flux/diff_kustomization.go
  internal/build/build.go
Labels: enhancement, area/UX, area/diff

#2624 Add detail to delete docs
  cmd/flux/delete_kustomization.go
Labels: area/docs

#2631 bootstrap git: Allow the password to be specified with GIT_PASSWORD env var
  cmd/flux/bootstrap_git.go
Labels: enhancement, area/bootstrap

#2597 [RFC-0002] Flux OCI support for Helm
  rfcs/0002-helm-oci/README.md
Labels: area/RFC

#2649 Update dependencies
  go.mod
  go.sum
  tests/azure/go.mod
  tests/azure/go.sum
Labels: area/build

#2646 Handle secret types properly while masking sops data
  internal/build/build.go
Labels: bug, area/diff

#2657 Update kustomize-controller to v0.24.1
  go.mod
  go.sum
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/crds/kustomization.yaml
  tests/azure/go.mod
  tests/azure/go.sum
Labels: area/build
