Repository fluxcd/flux2, pull requests merged in 2022-06, with the labels that each got.

#2787 Add `--allow-insecure-http` to `bootstrap git`
  cmd/flux/bootstrap_git.go
Labels: area/bootstrap

#2792 Handle multi-doc yaml for flux build
  internal/build/build.go
  internal/build/build_test.go
  internal/build/testdata/local-kustomization/different-name.yaml
  internal/build/testdata/local-kustomization/multi-doc-valid.yaml
  internal/build/testdata/local-kustomization/no-ns.yaml
  internal/build/testdata/local-kustomization/valid.yaml
Labels: area/diff

#2802 Add `--kubeconfig-secret-ref` to `flux create ks|hr`
  cmd/flux/.create_helmrelease.go.swp
  cmd/flux/create_helmrelease.go
  cmd/flux/create_kustomization.go
Labels: enhancement, area/kustomization, area/helm

#2806 monitoring: Add Grafana Loki HR and Flux logs dashboard
  manifests/monitoring/loki-stack/kustomization.yaml
  manifests/monitoring/loki-stack/release.yaml
  manifests/monitoring/loki-stack/repository.yaml
  manifests/monitoring/monitoring-config/dashboards/logs.json
  manifests/monitoring/monitoring-config/kustomization.yaml
Labels: enhancement, area/monitoring

#2807 Update dependencies
  go.mod
  go.sum
  tests/azure/go.mod
  tests/azure/go.sum
Labels: area/build

#2811 [RFC-0002] Update status and implementation history
  rfcs/0002-helm-oci/README.md
Labels: area/RFC

#2823 Add CRDs to `flux check` command
  cmd/flux/check.go
Labels: enhancement, area/UX

#2862 Put the dashboard configmap in the right namespace for monitoring
  manifests/monitoring/monitoring-config/kustomization.yaml
Labels: area/monitoring

#2829 Accept multiple values for `flux create hr --values-from`
  cmd/flux/create_helmrelease.go
  internal/flags/helm_release_values.go
  internal/flags/helm_release_values_test.go
Labels: enhancement, area/UX, area/helm

#2844 logs: select manager container when multiple exist
  cmd/flux/logs.go
Labels: bug, area/UX

#2867 Remove image finalizers on uninstall
  cmd/flux/uninstall.go
Labels: area/install

#2877 Add the `--branch` arg to the basic auth example
  cmd/flux/create_source_git.go
Labels: area/docs
