Repository fluxcd/flux2, pull requests merged in 2022-11, with the labels that each got.

#3281 Refactor ARM64 e2e test suite
  .github/runners/README.md
  .github/runners/prereq.sh
  .github/runners/runner-setup.sh
  .github/workflows/e2e-arm64.yaml
Labels: area/build

#3249 Remove file reading from bootstrap package
  cmd/flux/bootstrap_bitbucket_server.go
  cmd/flux/bootstrap_git.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/create_secret_git.go
  cmd/flux/create_secret_helm.go
  cmd/flux/create_secret_tls.go
  cmd/flux/create_source_git.go
  cmd/flux/create_source_helm.go
  pkg/bootstrap/bootstrap_plain_git.go
  pkg/bootstrap/git/commit_options.go
  pkg/bootstrap/git/gogit/gogit.go
  pkg/bootstrap/git/gogit/gogit_test.go
  pkg/bootstrap/options.go
  pkg/manifestgen/sourcesecret/options.go
  pkg/manifestgen/sourcesecret/sourcesecret.go
  pkg/manifestgen/sourcesecret/sourcesecret_test.go
Labels: area/git

#3303 monitoring: Use kube-prometheus-stack signed OCI Helm chart
  .github/workflows/e2e-arm64.yaml
  manifests/monitoring/kube-prometheus-stack/release.yaml
  manifests/monitoring/kube-prometheus-stack/repository.yaml
Labels: area/monitoring

#3317 Add a dry-run mode to flux build kustomization
  cmd/flux/build_kustomization.go
  cmd/flux/build_kustomization_test.go
  cmd/flux/diff_kustomization.go
  cmd/flux/diff_kustomization_test.go
  go.mod
  go.sum
  internal/build/build.go
Labels: area/kustomization

#3324 Update kubectl and remove nsswitch.conf in flux-cli image
  Dockerfile
Labels: area/build

#3233 RFC-0005: Artifact `Revision` format and introduction of `Digest`
  rfcs/0005-artifact-revision-and-digest/README.md
Labels: area/RFC

#3299 Refactor bootstrap process to use `fluxcd/pkg/git`
  cmd/flux/bootstrap_bitbucket_server.go
  cmd/flux/bootstrap_git.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  go.mod
  go.sum
  pkg/bootstrap/bootstrap_plain_git.go
  pkg/bootstrap/bootstrap_provider.go
  pkg/bootstrap/git/commit_options.go
  pkg/bootstrap/git/git.go
  pkg/bootstrap/git/gogit/gogit.go
  pkg/bootstrap/git/gogit/gogit_test.go
  pkg/bootstrap/git/gogit/testdata/private.key
  pkg/bootstrap/options.go
  pkg/manifestgen/sourcesecret/sourcesecret.go
Labels: area/git, area/bootstrap

#3323 build: Pin GitHub Actions
  .github/dependabot.yml
  .github/workflows/e2e-arm64.yaml
  .github/workflows/e2e-azure.yaml
  .github/workflows/e2e-bootstrap.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/scan.yaml
  .github/workflows/update.yaml
Labels: area/build

#3294 Aggregate errors in uninstall functions
  go.mod
  internal/build/diff.go
  pkg/uninstall/uninstall.go
Labels: area/install

#3339 Update dependencies
  go.mod
  go.sum
  tests/azure/azure_test.go
  tests/azure/go.mod
  tests/azure/go.sum
Labels: area/build

#3345 e2e: Refactor Azure test suite to use go-git
  .github/workflows/e2e-azure.yaml
  tests/azure/README.md
  tests/azure/azure_test.go
  tests/azure/go.mod
  tests/azure/go.sum
  tests/azure/util_test.go
Labels: area/build

#3350 Set notification-controller container image to GHCR
  manifests/install/kustomization.yaml
Labels: area/install
