Repository fluxcd/flux2, pull requests merged in 2022-09, with the labels that each got.

#3073 Filter out non-running pods in Prometheus
  manifests/monitoring/monitoring-config/podmonitor.yaml
Labels: area/monitoring

#3053 Revert "Fix broken "edit this page" links in Flux CLI section"
  cmd/flux/docgen.go
Labels: area/docs

#3082 Remove finalizers for OCI repositories on uninstall
  cmd/flux/uninstall.go
Labels: bug, area/install

#3088 Publish the install manifests to GHCR and DockerHub as OCI artifacts
  .github/workflows/release-manifests.yml
Labels: area/build

#3087 Remove finalizers for notification controllers
  cmd/flux/uninstall.go
Labels: area/install

#3085 [bootstrap] Make sure we reconcile with the right reconciliation method
  internal/bootstrap/bootstrap_provider.go
Labels: bug, area/bootstrap

#3079 Support autologin when pushing OCI artifacts
  .github/workflows/scan.yaml
  cmd/flux/list_artifact.go
  cmd/flux/pull_artifact.go
  cmd/flux/push_artifact.go
  cmd/flux/tag_artifact.go
  go.mod
  go.sum
  internal/flags/source_oci_provider.go
Labels: area/UX, area/oci

#3097 Add `--insecure` flag to `flux create source oci`
  cmd/flux/create_source_oci.go
  tests/azure/go.mod
  tests/azure/go.sum
Labels: area/oci

#3145 Add component label for controllers and their CRDs
  manifests/bases/helm-controller/kustomization.yaml
  manifests/bases/helm-controller/labels.yaml
  manifests/bases/image-automation-controller/kustomization.yaml
  manifests/bases/image-automation-controller/labels.yaml
  manifests/bases/image-reflector-controller/kustomization.yaml
  manifests/bases/image-reflector-controller/labels.yaml
  manifests/bases/kustomize-controller/kustomization.yaml
  manifests/bases/kustomize-controller/labels.yaml
  manifests/bases/notification-controller/kustomization.yaml
  manifests/bases/notification-controller/labels.yaml
  manifests/bases/source-controller/kustomization.yaml
  manifests/bases/source-controller/labels.yaml
Labels: area/UX, area/bootstrap, area/install

#3117 Maintain original scheme when using --token-auth
  cmd/flux/bootstrap_git.go
Labels: bug, area/bootstrap

#3153 Build with Go 1.19
  .github/workflows/bootstrap.yaml
  .github/workflows/e2e-arm64.yaml
  .github/workflows/e2e-azure.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/scan.yaml
  .github/workflows/update.yaml
  CONTRIBUTING.md
  Makefile
  cmd/flux/create.go
  cmd/flux/get.go
Labels: area/build

#3154 [RFC-0003] Add Cosign keyless specification
  rfcs/0003-kubernetes-oci/README.md
Labels: area/RFC

#3098 [Grafana] Use `container_memory_working_set_bytes` to report memory consumption
  manifests/monitoring/monitoring-config/dashboards/control-plane.json
Labels: area/monitoring

#3161 Update RFC-0003 implementation history
  rfcs/0003-kubernetes-oci/README.md
Labels: area/RFC
