Repository fluxcd/flux2, pull requests merged in 2022-08, with the labels that each got.

#2951 [RFC-0003] Add the provider field for OIDC auth
  rfcs/0003-kubernetes-oci/README.md
Labels: area/RFC, area/oci

#2971 Make `flux trace` work with OCIRepository
  cmd/flux/testdata/trace/helmrelease-oci.golden
  cmd/flux/testdata/trace/helmrelease-oci.yaml
  cmd/flux/testdata/trace/helmrelease.golden
  cmd/flux/trace.go
  cmd/flux/trace_test.go
Labels: area/oci

#2979 Status update for RFC-0002 and RFC-0003
  README.md
  rfcs/0002-helm-oci/README.md
  rfcs/0003-kubernetes-oci/README.md
Labels: area/RFC

#2995 Add `--ignore-paths` arg to `flux build|push artifact`
  cmd/flux/build_artifact.go
  cmd/flux/push_artifact.go
  go.mod
  go.sum
Labels: area/oci

#2998 Add `--filter-semver` and `--filter-regex` flags to `list artifacts`
  cmd/flux/list_artifact.go
  go.mod
  go.sum
Labels: area/oci

#3014 [RFC-0003] Select layer by OCI media type
  rfcs/0003-kubernetes-oci/README.md
Labels: area/RFC, area/oci

#3024 Add version validation to install commands
  cmd/flux/version_utils.go
Labels: area/UX, area/bootstrap, area/install

#3019 Improve error message in get cmd
  cmd/flux/get.go
Labels: area/UX

#3025 [RFC-0002] Add auth specification for Helm OCI
  rfcs/0002-helm-oci/README.md
Labels: area/RFC

#3034 Fix broken "edit this page" links in Flux CLI section
  cmd/flux/docgen.go
Labels: area/docs

#3049 Update Kubernetes dependencies to v1.25.0
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: area/build

#3050 Status update for RFC-0002 and RFC-0003
  rfcs/0002-helm-oci/README.md
  rfcs/0003-kubernetes-oci/README.md
Labels: area/RFC, area/oci

#3048 Update packages in Azure e2e tests
  .github/workflows/e2e-azure.yaml
  tests/azure/go.mod
  tests/azure/go.sum
  tests/azure/terraform/aks/.terraform.lock.hcl
  tests/azure/terraform/aks/aks.tf
  tests/azure/terraform/aks/main.tf
  tests/azure/terraform/aks/outputs.tf
  tests/azure/terraform/shared/.terraform.lock.hcl
  tests/azure/terraform/shared/acr.tf
  tests/azure/terraform/shared/main.tf
Labels: area/build

#3052 update to new doc links structure
  CONTRIBUTING.md
  README.md
  docs/_redirects
  manifests/integrations/eventhub-credentials-sync/_cronjobs/generic/secret-azure-credentials.yaml
  manifests/integrations/registry-credentials-sync/aws/config-patches.yaml
  rfcs/0002-helm-oci/README.md
Labels: area/docs
