Repository fluxcd/flux2, pull requests merged in 2023-11, with the labels that each got.

#4355 Confirm before overriding installation by another manager
  cmd/flux/bootstrap.go
  cmd/flux/bootstrap_bitbucket_server.go
  cmd/flux/bootstrap_git.go
  cmd/flux/bootstrap_github.go
  cmd/flux/bootstrap_gitlab.go
  cmd/flux/cluster_info.go
  cmd/flux/cluster_info_test.go
  cmd/flux/install.go
  cmd/flux/uninstall.go
Labels: enhancement, area/bootstrap, area/install

#4270 feat: add bootstrap gitea command
  cmd/flux/bootstrap_gitea.go
  go.mod
  go.sum
  pkg/bootstrap/provider/factory.go
  pkg/bootstrap/provider/provider.go
Labels: enhancement, area/bootstrap

#4380 Tweak permissions on created files
  cmd/flux/main_test.go
  go.mod
  go.sum
  internal/build/diff.go
  tests/integration/util_test.go
Labels: enhancement

#4409 Make events cmd work well with lowercased and only kind selector
  cmd/flux/events.go
  cmd/flux/events_test.go
Labels: area/monitoring

#4416 Update dependencies to Kubernetes v1.28
  cmd/flux/push_artifact.go
  cmd/flux/stats.go
  cmd/flux/status.go
  cmd/flux/testdata/diff-kustomization/diff-with-drifted-secret.golden
  cmd/flux/tree_kustomization.go
  go.mod
  go.sum
  internal/build/diff.go
  internal/tree/tree.go
  internal/utils/apply.go
  pkg/bootstrap/bootstrap_plain_git.go
  pkg/status/status.go
  tests/azure/go.mod
  tests/azure/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: dependencies

#4388 [RFC-0003] OIDC identity matching for keyless verification
  rfcs/0003-kubernetes-oci/README.md
Labels: area/rfc
