Repository fluxcd/flux2, pull requests merged in 2023-04, with the labels that each got.

#3763 Add the possibility to ignore files with build and diff Kustomization
  cmd/flux/build_kustomization.go
  cmd/flux/build_kustomization_test.go
  cmd/flux/diff_kustomization.go
  cmd/flux/testdata/build-kustomization/ignore/.sourceignore
  cmd/flux/testdata/build-kustomization/ignore/configmap.yaml
  cmd/flux/testdata/build-kustomization/ignore/not_deployable/ignore_svc.yaml
  cmd/flux/testdata/build-kustomization/ignore/secret.yaml
  cmd/flux/testdata/build-kustomization/podinfo-with-ignore-result.yaml
  go.mod
  go.sum
  internal/build/build.go
Labels: enhancement, area/diff

#3764 Add label selector flag to get cmd
  cmd/flux/get.go
  cmd/flux/get_test.go
  cmd/flux/testdata/get/get.golden
  cmd/flux/testdata/get/get_label_one.golden
  cmd/flux/testdata/get/get_label_two.golden
  cmd/flux/testdata/get/objects.yaml
Labels: enhancement, area/UX

#3783 Clean directory before cloning git repo
  pkg/bootstrap/bootstrap_plain_git.go
Labels: bug, area/bootstrap

#3797 better messaging for `pull artifact` command
  cmd/flux/pull_artifact.go
Labels: area/UX, area/oci
