Repository fluxcd/flux2, pull requests merged in 2024-09, with the labels that each got.

#4959 Fix GitHub bootstrap for repositories with custom properties
  go.mod
  go.sum
  tests/bootstrap/main.go
Labels: area/bootstrap

#4939 Recursively diff Kustomizations
  cmd/flux/build_kustomization.go
  cmd/flux/build_kustomization_test.go
  cmd/flux/diff_kustomization.go
  cmd/flux/diff_kustomization_test.go
  cmd/flux/main_test.go
  cmd/flux/testdata/build-kustomization/my-app/configmap.yaml
  cmd/flux/testdata/build-kustomization/podinfo-with-my-app-result.yaml
  cmd/flux/testdata/build-kustomization/podinfo-with-my-app/kustomization.yaml
  cmd/flux/testdata/build-kustomization/podinfo-with-my-app/my-app.yaml
  cmd/flux/testdata/diff-kustomization/diff-with-recursive.golden
  cmd/flux/testdata/diff-kustomization/my-app.yaml
  internal/build/build.go
  internal/build/build_test.go
  internal/build/diff.go
Labels: area/diff

#4986 [RFC-0007] Add `--provider` flag to `flux create source git`
  cmd/flux/create_source_git.go
  cmd/flux/create_source_git_test.go
  cmd/flux/testdata/create_source_git/source-git-provider-azure.yaml
  cmd/flux/testdata/create_source_git/source-git-provider-generic.yaml
  internal/flags/source_git_provider.go
Labels: area/git

#5007 Run conformance tests for Kubernetes 1.29-1.31
  .github/workflows/conformance.yaml
  .github/workflows/e2e-bootstrap.yaml
  .github/workflows/e2e.yaml
Labels: area/testing

#5008 Promote `bucket` commands to GA
  cmd/flux/create_source_bucket.go
  cmd/flux/delete_source_bucket.go
  cmd/flux/events.go
  cmd/flux/export_source_bucket.go
  cmd/flux/get_source_all.go
  cmd/flux/get_source_bucket.go
  cmd/flux/reconcile_kustomization.go
  cmd/flux/reconcile_source_bucket.go
  cmd/flux/reconcile_source_chart.go
  cmd/flux/resume_source_bucket.go
  cmd/flux/source.go
  cmd/flux/stats.go
  cmd/flux/suspend_source_bucket.go
  cmd/flux/testdata/export/bucket.yaml
  cmd/flux/testdata/export/objects.yaml
  internal/flags/helm_chart_source.go
  internal/flags/kustomization_source.go
  internal/flags/source_bucket_provider.go
  internal/flags/source_bucket_provider_test.go
  pkg/bootstrap/bootstrap.go
  pkg/uninstall/uninstall.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: area/bucket

#5009 Add `--proxy-secret-ref` to `flux create source` commands
  cmd/flux/create_source_bucket.go
  cmd/flux/create_source_git.go
  cmd/flux/create_source_oci.go
Labels: area/ux

#5010 Add `flux create secret proxy` command
  cmd/flux/create_secret_proxy.go
  cmd/flux/create_secret_proxy_test.go
  cmd/flux/main_test.go
  cmd/flux/testdata/create_secret/proxy/secret-proxy.yaml
  pkg/manifestgen/sourcesecret/options.go
  pkg/manifestgen/sourcesecret/sourcesecret.go
Labels: area/ux

#5014 Update Kubernetes dependencies to v1.31.1
  go.mod
  go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: dependencies
