Repository fluxcd/flux2, pull requests merged in 2024-11, with the labels that each got.

#5060 Use replicated-actions in conformance tests
  .github/workflows/conformance.yaml
Labels: area/testing

#5073 docs: Mention Flux upgrade guide in release notes
  docs/release/release-notes-template.md
Labels: area/docs

#5071 fix: skip remote Kustomizations on recursive diff
  internal/build/diff.go
Labels: area/diff
