Repository fluxcd/flux2, pull requests merged in 2025-09, with the labels that each got.

#5501 Allow the Go runtime to dynamically set `GOMAXPROCS`
  manifests/bases/helm-controller/patch.yaml
  manifests/bases/image-automation-controller/patch.yaml
  manifests/bases/image-reflector-controller/patch.yaml
  manifests/bases/kustomize-controller/patch.yaml
  manifests/bases/notification-controller/patch.yaml
  manifests/bases/source-controller/patch.yaml
Labels: area/bootstrap

#5414 fix(events): respect `--all-namespaces` flag
  cmd/flux/events.go
Labels: bug, area/monitoring

#5321 [RFC-0011] OpenTelemetry Tracing
  rfcs/0011-opentelemetry-tracing/README.md
Labels: area/rfc

#5292 [RFC-0012] External Artifact API
  rfcs/0012-external-artifact/README.md
Labels: area/rfc

#5520 Add read-only commands for `ArtifactGenerator` kind
  cmd/flux/artifact.go
  cmd/flux/create_source_bucket.go
  cmd/flux/create_source_git.go
  cmd/flux/create_source_helm.go
  cmd/flux/create_tenant.go
  cmd/flux/events.go
  cmd/flux/export.go
  cmd/flux/export_artifact.go
  cmd/flux/export_artifact_generator.go
  cmd/flux/get_artifact.go
  cmd/flux/get_artifact_generator.go
  cmd/flux/install.go
  cmd/flux/main.go
  cmd/flux/tree_artifact.go
  cmd/flux/tree_artifact_generator.go
  go.mod
  go.sum
  internal/utils/utils.go
Labels: area/ux

#5547 ci: Set `GITHUB_TOKEN` in the `release-flux-manifests` workflow
  .github/workflows/release.yaml
Labels: area/ci, backport:release/v2.6.x
