Repository fluxcd/flux2, pull requests merged in 2025-07, with the labels that each got.

#5434 [RFC-0010] Add workload identity support for remote clusters
  rfcs/0010-multi-tenant-workload-identity/README.md
Labels: area/rfc, area/security

#5449 Fix `flux push artifact` for insecure registries
  cmd/flux/push_artifact.go
  go.mod
  go.sum
Labels: area/oci, backport:release/v2.6.x

#5452 [RFC-0010] Add workload identity support for remote generic clusters
  rfcs/0010-multi-tenant-workload-identity/README.md
Labels: area/rfc, area/security

#5460 ci: Use GITHUB_TOKEN for API calls in update workflow
  .github/workflows/update.yaml
Labels: area/ci

#5440 manifests: Add `app.kubernetes.io/part-of: flux` label to controller pods
  manifests/bases/helm-controller/labels.yaml
  manifests/bases/image-automation-controller/labels.yaml
  manifests/bases/image-reflector-controller/labels.yaml
  manifests/bases/kustomize-controller/labels.yaml
  manifests/bases/notification-controller/labels.yaml
  manifests/bases/source-controller/labels.yaml
  manifests/install/labels.yaml
  manifests/openshift/labels.yaml
  pkg/manifestgen/install/templates.go
Labels: area/bootstrap, area/install
