Repository fluxcd/flux2, pull requests merged in 2025-10, with the labels that each got.

#5552 Backport CI fixes and updates
  .github/workflows/e2e-gcp.yaml
  .github/workflows/ossf.yaml
  .github/workflows/release.yaml
Labels: area/ci

#5551 Fix `flux push artifact` not working with `--provider`
  cmd/flux/diff_artifact.go
  cmd/flux/list_artifact.go
  cmd/flux/oci.go
  cmd/flux/pull_artifact.go
  cmd/flux/push_artifact.go
  cmd/flux/tag_artifact.go
Labels: bug, area/oci, backport:release/v2.7.x

#5562 Add source-watcher to docs
  CONTRIBUTING.md
  README.md
Labels: area/docs

#5563 Fix `flux migrate -f` not considering kind comments
  cmd/flux/migrate.go
  cmd/flux/migrate_test.go
  cmd/flux/testdata/migrate/file-system/dir.golden/some-file.yaml
  cmd/flux/testdata/migrate/file-system/dir/some-file.yaml
Labels: area/ux, backport:release/v2.7.x

#5570 Disable AUR publishing
  .goreleaser.yml
Labels: area/ci, backport:release/v2.7.x

#5574 Fix manifest generation for `--storage-adv-addr` and `--events-addr` flags
  pkg/manifestgen/install/manifests.go
  pkg/manifestgen/install/templates.go
Labels: area/install, backport:release/v2.7.x
