Repository fluxcd/flux2, pull requests merged in 2025-04, with the labels that each got.

#5299 Allow to pull/push artifacts to insecure registries without TLS
  cmd/flux/diff_artifact.go
  cmd/flux/list_artifact.go
  cmd/flux/pull_artifact.go
  cmd/flux/push_artifact.go
Labels: area/oci

#5209 [RFC-0010] Multi-Tenant Workload Identity
  rfcs/0010-multi-tenant-workload-identity/README.md
Labels: area/rfc

#5219 fix: allow recursive dry-run over local sources
  cmd/flux/build_kustomization_test.go
  internal/build/build.go
Labels: area/kustomization

#5323 Update to Kubernetes 1.33.0 and Go 1.24.0
  .github/workflows/conformance.yaml
  .github/workflows/e2e-azure.yaml
  .github/workflows/e2e-bootstrap.yaml
  .github/workflows/e2e-gcp.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/update.yaml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  cmd/flux/check.go
  cmd/flux/diff_artifact_test.go
  cmd/flux/get_all.go
  cmd/flux/get_image_all.go
  cmd/flux/get_source_all.go
  cmd/flux/readiness.go
  cmd/flux/reconcile.go
  cmd/flux/reconcile_with_source.go
  cmd/flux/resume.go
  go.mod
  go.sum
  pkg/bootstrap/bootstrap.go
  pkg/manifestgen/sourcesecret/sourcesecret.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: dependencies
